div{
    borde : 1px solid black;
}

span{
    borde : 1px solid black;
    font-weight: bold;
}

.title {
    display: flex;
    width: 500px;
    font-size: 40px;
    justify-content: center;
    margin: auto;
    color: #060032;
    padding: 10px;
    border-bottom: 4px solid #060032;
}

.logo {
    margin-right: 15px;
    width: 48px;
}

.content {
    width: 400px;
    margin: auto;
}

.menu_tab {
    justify-content: space-evenly;
    margin-bottom: 10px;
    margin-top: 30px;
}

.menu_tab button {
    width: 196px;
    border: none;
    height: 40px;
    font-size: large;
}

[name="id_findtab"] {
    background-color: white;
    cursor: pointer;
}

[name="pwd_findtab"] {
    background-color: lightgray;
    cursor: pointer;
}

[name="pwd_findtab"] a{
    color: gray;
}

[name="id_findtab"] a:link{
    color: black;
    text-decoration: none;
}

[name="id_findtab"] a:visited{
    color: black;
    text-decoration: none;
}

[name="pwd_findtab"] a:link{
    color: gray;
    text-decoration: none;
}

[name="pwd_findtab"] a:visited{
    color: gray;
    text-decoration: none;
}

input {
    margin-top: 10px;
    width: 390px;
    height: 35px;
}

.phone_area {
    margin-top: 10px;
}

form button {
    background-color: #060032;
    color: white;
    border: none;
    width: 397px;
    height: 40px;
    margin-top: 20px;
    font-weight: bold;
}