div{
    borde : 1px solid black;
}

span{
    borde : 1px solid black;
}

.title {
    display: flex;
    width: 500px;
    font-size: 40px;
    justify-content: center;
    margin: auto;
    margin-top: 50px;
    color: #060032;
    padding: 10px;
    border-bottom: 4px solid #060032;
}

.content {
    width: 300px;
    margin: auto;
    margin-top: 30px;
    padding-left: 35px;
}

.info {
    color: gray;
    font-weight: bold;
}

.id_result {
    margin-top: 5px;
    background-color: #E6E6E6;
    font-weight: bold;
    font-size: x-large;
    width: 250px;
    height: 50px;
    text-align: center;
}

.id_result span {
    vertical-align:middle;
}

.btn {
    width: 100px;
    margin: auto;
    margin-top: 20px;
}

button {
    width: 100px;
    height: 30px;
    background-color: #060032;
    border: none;
}

button {
    color: white;
    font-size: large;
    cursor: pointer;
}

a:link{
    color: white;
    text-decoration: none;
}

a:visited{
    color: white;
    text-decoration: none;
}