div{
    borde : 1px solid black;
}

span{
    borde : 1px solid black;
    font-weight: bold;
}

.title {
    display: flex;
    width: 500px;
    font-size: 40px;
    justify-content: center;
    margin: auto;
    color: #060032;
    padding: 10px;
    border-bottom: 4px solid #060032;
}

.logo {
    margin-right: 15px;
    width: 48px;
}

.joinForm {
    width: 430px;
    margin: auto;
    margin-top: 40px;
}

.joinForm div {
    margin-bottom: 10px;
}

form div div {
    margin-top: 5px;
}

.area input {
    width: 280px;
}

.required {
    color: red;
}

input {
    height: 30px;
}

#input_rule {
	font-size: x-small;
	color: gray;
}

#idCheck{
    background-color: #060032;
    color: white;
    width: 70px;
    height: 34px;
    border: none;
    margin-left: 5px;
    vertical-align: middle;
}

.pwd_img{
    width: 20px;
    vertical-align: middle;
    margin-left: 5px;
}

#idConfirmimg {
	margin-left : 10px;
	width:20px;
}

#pwd1Confirm{
	color: red;
	font-size: small;
}

#pwd1_img {
	margin-left : 10px;
	width:20px;
}

#pwd2Confirm{
	color: red;
	font-size: small;
}

#pwd2_img {
	margin-left : 10px;
	width:20px;
}

.invalid {
	border-color : red;
}

#nameConfirm {
	color: red;
	font-size: small;
}

#nameConfirm img {
	margin-left : 5px;
	width:20px;
}

#emailConfirm {
	margin-left : 10px;
	color: red;
	font-size: small;
}

#e_confirm_img {
	margin-left : 5px;
	width:20px;
}

#phoneConfirm {
	margin-left : 10px;
	color: red;
	font-size: small;
}

#rec_confirm {
	margin-left : 10px;
	color: red;
	font-size: small;
}

#p_confirm_img {
	margin-left : 5px;
	width:20px;
}

#phoneCheck {
	background-color: #060032;
    color: white;
    width: 70px;
    height: 30px;
    border: none;
    margin-left: 5px;
    vertical-align: middle;
}

#postcodify_search_button{
    background-color: #060032;
    color: white;
    width: 70px;
    height: 30px;
    border: none;
    margin-left: 5px;
    vertical-align: middle;
}

.gender_area {
    margin-top: 20px;
}

label {
    cursor: pointer;
}

.bodySize_input_area span {
    margin-right: 10px;
}

.bodySize_input_area input {
    width: 80px;
}

.recommender_area {
    margin-top: 20px;
}

#recommender_btn {
	background-color: #060032;
    color: white;
    width: 70px;
    height: 34px;
    border: none;
    margin-left: 5px;
    vertical-align: middle;
}

.clause_area {
    margin-top: 25px;
    border: 1px solid lightgray;
}

#checkAll {
	margin-left: 10px;
}

input[name=clause] {
	margin-left: 10px;
}

.checkAll {
    padding-bottom: 5px;
    border-bottom: 1px solid lightgray;
}

.clause_area button {
    background-color: white;
    border: 0.5px solid gray;
    margin-left: 5px;
    font-size: x-small;
    padding:1px;
}

.btn_area{
    margin-top: 30px;
    text-align: center;
}

#joinBtn {
    background-color: #060032;
    color :white;
    font-weight:lighter;
    font-size: large;
    border: none;
    width: 100px;
    height: 40px;
    cursor: pointer;
}

/* 라디오 버튼 색상 변경 */
input[type='radio'] {
    -webkit-appearance:none;
    width:17px;
    height:17px;
    /* [라디오 버튼 테두리 색상 정의] */
    border:1px solid darkgray;
    border-radius:50%;
    outline:none;
    /* [라디오 버튼 배경 색상 정의] */
    background:#ffffff;
    cursor: pointer;
}
input[type='radio']:before {
    /* [content null 설정해서 커스텀 지정] */
    content:'';
    display:block;
    width:70%;
    height:70%;
    margin: 15% auto;
    border-radius:50%;  
}
input[type='radio']:checked:before {
    /* [라디오 버튼이 클릭 되었을 경우 내부 원형 색상] */
    background: #060032;
}

/* 체크박스 색상 변경 */
input[type="checkbox"] {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 1px solid gray;
  background: white;
  height: 12.8px;
  width: 12.8px;
  border: 1px solid white;
}

input[type="checkbox"]:checked {
  background: #060032;
}

input[type="checkbox"]:hover {
  filter: brightness(90%);
}

input[type="checkbox"]:after {
  content: '';
  position: relative;
  left: 40%;
  top: 20%;
  width: 15%;
  height: 40%;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  display: none;
}

input[type="checkbox"]:checked:after {
  display: block;
}

button {
	cursor: pointer;
}