div {
    borde: 1px solid black;
}

.outer {
    margin:auto;
    width: 900px;
    text-align: center;
    min-height: 700px;
}

.point_area {
    width: 700px;
    margin:auto;
    margin-top: 30px;
}

#title {
    font-size: x-large;
    font-weight: bold;
}

.point_title {
    display: flex;
    padding-left: 30px;
    padding-bottom: 10px;
    border-bottom: 2px solid black;
}

.point_title div:first-child {
    font-weight: bold;
    font-size: large;
    margin-right: 10px;
    align-self: end;
}

#point {
    font-size: x-large;
    font-weight: bold;
}

ul li {
    borde: 1px solid black;
    margin: 0px;
    padding: 0px;
}

.point_list>ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    margin-top: 25px;
}

.point_list {
	padding-bottom : 15px;
}

.point_header {
    border-top : 1px solid gray;
    border-bottom: 1px solid gray;
    line-height: 30px;
    font-weight: bold;
}

.point_content{
	padding-bottom: 10px;
}

.p_no {
	width: 45px;
}

.status {
    width: 80px;
}

.point {
    width: 180px;
}

.info {
    width: 170px;
}

.date {
    width: 150px;
}

/* 페이징 css */

ul {
	list-style: none;
}

.pagaing_wrap ul.pagaing_num li a:link{
    text-decoration: none;
}

.pagaing_wrap ul.pagaing_num li a:visited{
    text-decoration: none;
}

/* 이벤트 포인트 다운로드 */
.event-point-wrapper{width: 700px; margin: 5px auto 50px auto; border-bottom: 2px solid black;}
.event-point-wrapper li{display: table-cell; }
.event-point-wrapper ul {list-style: none; padding-left: 0; height: 30px; line-height:30px;}
.event-point-wrapper li {list-style: none; padding-left: 0; height: 30px; line-height:30px;}
.th{ font-weight:bold; border-top: 1px solid gray; border-bottom: 1px solid gray; margin-top: 20px;}
.event-content{width: 400px;}
.event-point{width: 200px;}
.event-download{width : 100px;}
.event-download input{background-color:white; text-decoration : underline; font-size : 16px; border:0; cursor:pointer;}
/* null */
    .null {text-align: center;	font-size: 20px;font-weight: bold;align-self: center; margin-top:30px;}
    .nowish{width: 80px;margin-bottom: 20px;}
/* hr */
.hr{margin: 5px auto 55px auto; width:700px; border:-1px solid lightgray;}
/* 보유 적립금 border-bottom 추가*/
.point_list{border-bottom: 2px solid black;}