div { 
    borde: 1px solid black;
}

span { 
    borde: 1px solid black;
}

.outer {
    width: 900px;
    margin: auto;
    
}

.title {
    font-size: x-large;
    font-weight: bold;
    padding: 10px;
    border-bottom: 2px solid black;
    margin-bottom: 20px;
}

.product {
    display: flex;
    margin-bottom: 20px;
}

img {
    width: 100px;
}

.product_info {
    margin-left: 15px;
    margin-top: auto;
    margin-bottom: auto;
}

.like_cnt {
    width: 900px;
    height: 30px;
    text-align: right;
}

.like_cnt > span {
    border: 1px solid lightgray;
    border-radius: 15px;
    padding: 3px 10px 3px 10px;
}

#pname {
    color: gray;
    font-weight: bold;
}

.content {
    margin-top: 10px;
}

.title_date_area {
    height: 35px;
    display: flex;
    align-items:center;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    justify-content: space-between
}

.title_area span {
    margin-left: 5px;
    margin-right: 30px;
}

.title_date_area span:first-child{
    font-weight: bold;
}

.date_area {
    display: flex;
}

.create_date {
    margin-right: 15px;
}

.score {
    border-bottom: 1px solid lightgray;
    height: 35px;
    display: flex;
    align-items:center;
}

.score span {
    margin-left: 5px;
    margin-right: 40px;
    font-weight: bold;
}

.score img {
    width: 20px;
}

.size {
    border-bottom: 1px solid lightgray;
    height: 35px;
    display: flex;
    align-items:center;
    margin-bottom: 10px;
}

.size span {
    margin-left: 5px;
    margin-right: 20px;
}

.size span:first-child{
    font-weight: bold;
}

#size_info {
    font-size: small;
}

#content {
	min-height: 300px;
	padding: 20px;
}

.content_area {
    border-bottom: 1px solid lightgray;
    margin-bottom: 15px;
}

.img_box {
    display: flex;
    margin-bottom: 20px;
}

.img_area {
    margin-right: 30px;
}

.img_area img{
    width: 200px;
    cursor: not-allowed;
}

.btn_area {
    margin-top: 20px;
    text-align: center;
}

button {
    background-color: #060032;
    color: white;
    font-size: large;
    border: none;
    width: 100px;
    height: 40px;
    cursor: pointer;
}

.btn_area button{
    margin-right: 10px;
}