.sideMenu {
    position: fixed;
    padding-top : 1%;
    padding-left: 10%;
}

.menuList {
    list-style: none;
}

.menuList li {
    margin-bottom: 5px;
    width: 150px;
    padding: 5px;
}

.sideMenu a {
	width: 150px;
	height: 30px;
	padding: 10px;
}

.menuList a:link{
	color: black;
    text-decoration: none;
}

.menuList a:visited{
    color: black;
    text-decoration: none;
}

.sideMenu li :hover{
    background-color: #060032;
    color: white;
    cursor: pointer;
}
