<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>1:1문의</title>
<script src="/js/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="/css/CScenter/personalQ.css">
<link rel="stylesheet" href="/css/common/paging.css">
<link rel="stylesheet" href="/css/common/sidebar.css">
<!-- 삭제 여부 알림창 -->
<script>
	const msg = '[[${ msg }]]';

	if (msg) {
		alert(msg);
	}
</script>
</head>
<body>
	<div th:replace="common/header.html"></div>

	<div id="wrapper">
		<div id="sidebar">
			<ul>
				<li><a class="sideA" href="/seller/index">내 정보</a></li>
				<li><a class="sideA" href="/seller/sub03">상품 등록</a></li>
				<li><a class="sideA current" href="/seller/sellerAsk">문의</a></li>
				<li><a class="sideA" href="/seller/sub04">주문 내역</a></li>
				<li><a class="sideA" href="/seller/sub05">배송 현황</a></li>
				<li><a class="sideA" href="/seller/sub06">반송 요청</a></li>
				<li><a class="sideA" href="/seller/sub07">교환 요청</a></li>
			</ul>
		</div>
		<div id="content">
			<h3 id="content-title">상품 문의</h3>



			<div class="board-wrapper">
				<div class="list-th">
					<ul>
						<li class="list-num">번호</li>
						<li class="list-num"></li>
						<li class="list-num"></li>
						<li class="list-num"></li>
						<li class="list-title">제목</li>
						<li class="list-title"></li>
						<li class="list-date">등록일</li>
						<li class="list-status">상태</li>
					</ul>
				</div>
				<th:block th:if="${#lists.size(selectAskAllList) == 0}">
					<div class="board-list null">
						<img class="nowish" src="/images/nowish.png"><br> <span>등록된
							문의가 없습니다.</span>
					</div>
				</th:block>
				<th:block th:if="${#lists.size(selectAskAllList) > 0}">
				<form th:href="@{/sellerAsk/detail}">
					<div class="board-list" th:each="seller,i : ${selectAskAllList}">
					
						<input type="hidden" name="piqCode" th:value="${seller.piqCode}">
						<ul>
							<li class="list-num"th:text="${(pi.listCount-(10*(pi.page-1))) - (i.count-1) }"></li>
							<li class="list-category" th:text="${seller.picateName}"></li>
							<li class="list-title cursor" th:text="${seller.piqTitle}"></li>
							<li class="list-date" th:text="${seller.piqcDate}"></li>
							<li class="list-status" th:if="${seller.piacDate == null}"><span>답변
									대기</span></li>
							<li class="list-status" th:if="${seller.piacDate != null}"><span>답변
									완료</span></li>
						</ul>
					</div>
					</form>
				</th:block>
			</div>

			<!-- 페이징 -->
			<div class="pagaing_wrap" th:if="${#lists.size(selectAskAllList) > 0}">
				<ul class="pagaing_left">
					<li class="allPrev" th:classappend="${pi.page == 1} ? 'hide'">
						<a th:href="@{/seller/sellerAsk/(page=1)}" th:if="${pi.page > 1}"></a>
						<a href="javascript:;" th:unless="${pi.page > 1}"></a>
					</li>
					<li class="prev" th:classappend="${pi.page == 1} ? 'hide'"><a
						th:href="@{/seller/sellerAsk/(page=${pi.page - 1})}"
						th:if="${pi.page > 1}"></a> <a href="javascript:;"
						th:unless="${pi.page > 1}"></a></li>
				</ul>

				<ul class="pagaing_num">
					<th:block
						th:each="pd : ${#numbers.sequence(pi.startPage, pi.endPage)}">
						<li th:classappend="${pi.page == pdStat.current} ? 'on'"><a
							th:href="@{/seller/sellerAsk/(page=${pdStat.current})}"
							th:text="${pdStat.current}"></a></li>
					</th:block>

				</ul>

				<ul class="pagaing_right">
					<li class="next" th:classappend="${pi.page == pi.maxPage} ? 'hide'">
						<a th:href="@{/seller/sellerAsk/(page=${pi.page} + 1)}"
						th:if="${pi.page < pi.maxPage}"></a> <a href="javascript:;"
						th:unless="${pi.page < pi.maxPage}"></a>
					</li>
					<li class="allNext"
						th:classappend="${pi.page == pi.maxPage} ? 'hide'"><a
						th:href="@{/seller/sellerAsk/(page=${pi.maxPage})}"
						th:if="${pi.page < pi.maxPage}"></a> <a href="javascript:;"
						th:unless="${pi.page < pi.maxPage}"></a></li>
				</ul>
			</div>
		</div>

	</div>

	<div th:replace="common/footer.html"></div>

	<script>
		/* 상세페이지로 이동 */
		$(".list-title").click(function() {
			var p_no = $(this).parent().prev().val();
			location.href = "/seller/sellerAsk/detail?piqCode=" + piqCode;
		});
	</script>
</body>
</html>
