<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>판매자 페이지</title>

    <link rel="stylesheet" href="/css/seller/reset.css" type="text/css">
    <link rel="stylesheet" href="/css/seller/layout.css" type="text/css">
    <link rel="stylesheet" href="/css/seller/table.css" type="text/css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body>
<div th:replace="common/header.html"></div>

    <div id="wrap">
        <aside>
            <div class="left_content">
                <ul>
                    <li><a href="">내 정보</a></li>
                    <li><a href="">상품정보 리스트</a></li>
                    <li><a href="">문의내용 리스트</a></li>
                    <li><a href="">주무내역 조회</a></li>
                    <li><a href="">상품배송 현황</a></li>
                    <li><a href="">반송요청</a></li>
                    <li><a href="">교환요청</a></li>
                </ul>
            </div>
        </aside>
        <div class="wrap">
            <div class="content_right">
                <div class="table_title">
                    <span class="info_title" style="margin-bottom:20px;">
                        판매 상품리스트
                    </span>
                </div>

                <form action="">
                <div class="table_wrap">
                    <table>
                        <thead>
                            <th></th>
                            <th>주문번호</th>
                            <th>상품명</th>
                            <th>주문자</th>
                            <th>배송지</th>
                            <th>옵션</th>
                            <th>수량</th>
                            <th>배송 현황</th>
                        </thead>
                        <tbody>
                            <tr th:each="productlist : ${ productList }">
                                <td><input type="checkbox"></td>
                                <td th:text="${ productlist.orderCode }"></td>
                                <td th:text="${ productlist.pName }"></td>
                                <td th:text="${ productlist.userName }"></td>
                                <td th:text="${ productlist.orderAddress }"></td>
                                <td th:text="|${ productlist.pSize }/${productlist.pColor}|"></td>
                                <td th:text="${ productlist.orderProductNum }"></td>
                                <td>
                                    <span class="delivery_on">배송 중</span>
                                    <p class="delivery_desc" style="font-size:12px; margin-top:10px; color:#aaa;">배송 완료</p>
                                </td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>1234</td>
                                <td><img src="assets/img/layout/Black.jpg" alt="img"><span></span></td>
                                <td>홍진우</td>
                                <td>서울특별시 강동구 길동 양재대로 1560</td>
                                <td>XL/BK</td>
                                <td>1</td>
                                <td><span>교환 완료</span></td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>1234</td>
                                <td><img src="assets/img/layout/Black.jpg" alt="img"><span></span></td>
                                <td>홍진우</td>
                                <td>서울특별시 강동구 길동 양재대로 1560</td>
                                <td>XL/BK</td>
                                <td>1</td>
                                <td><span>배송 대기</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <script>
                    $(function(){
                        $('.delivery_on').click(function(){
                            $(this).next().show();
                        })
                    })
                </script>

                <div style="text-align:right; padding-top:50px;">
                    <button style="background: #060032; font-size: 20px; padding:16px 12px; color:#fff; text-align:center;">발송</button>
                </div>
            </div>
        </div>
    </div>
    </div>

<div th:replace="common/footer.html"></div>

</body>

</html>