<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>판매 상품리스트</title>

    <link rel="stylesheet" href="/css/seller/reset.css" type="text/css">
    <link rel="stylesheet" href="/css/seller/layout.css">
</head>
<body>
<div th:replace="common/header.html"></div>

    <div id="wrap">
        <aside>
            <div class="left_content">
                <ul>
                    <li><a href="">내 정보</a></li>
                    <li><a href="">상품정보 리스트</a></li>
                    <li><a href="">문의내용 리스트</a></li>
                    <li><a href="">주무내역 조회</a></li>
                    <li><a href="">상품배송 현황</a></li>
                    <li><a href="">반송요청</a></li>
                    <li><a href="">교환요청</a></li>
                </ul>
            </div>
        </aside>
        <div class="wrap">
<div class="content_right">
    <div class="table_title">
        <span class="info_title" style="margin-bottom:20px;">
            판매 상품리스트
        </span>
    </div>

    <div class="list_chkbox">
        <div>
            <span>성별</span>
            <span>
                <input type="checkbox"> 
                <label for="">공용</label>
            </span>
            <span>
                <input type="checkbox"> 
                <label for="">남성</label>
            </span>
            <span>
                <input type="checkbox"> 
                <label for="">여성</label>
            </span>
        </div>
        <div>
            <span>상품</span>
            <span>
                <input type="checkbox"> 
                <label for="">상의</label>
            </span>
            <span>
                <input type="checkbox"> 
                <label for="">하의</label>
            </span>
            <span>
                <input type="checkbox"> 
                <label for="">Acc</label>
            </span>
        </div>

        <a class="search-btn">검색</a>

        <div class="btn_box">
            <button class="reg_btn">등록</button>
            <button class="del_btn">삭제</button>
            
        </div>
    </div>
    

        <div class="table_wrap">
            <table>
                <thead>
                    <th></th>
                    <th>번호</th>
                    <th>상품명</th>
                    <th>카테고리</th>
                    <th>판매금액</th>
                    <th></th>
                </thead>
                <tbody>
                    <tr th:each="sellerproduct : ${ sellerproductList }">
                        <td><input type="checkbox"></td>
                        <td th:text="${ sellerproduct.pNo }"></td>
                        <td th:text="${ sellerproduct.pName }"></td>
                        <td th:text="${ sellerproduct.categoryCode }"></td>
                        <td th:text="${ sellerproduct.pPrice }"></td>
                        <td><button>수정</button></td>

                    </tr>
                    <tr>
                        <td><input type="checkbox"></td>
                        <td>1</td>
                        <td>1234,5678</td>
                        <td>12345,6789</td>
                        <td>12345,678</td>
                        <td><button>수정</button></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox"></td>
                        <td>1</td>
                        <td>1234,5678</td>
                        <td>12345,6789</td>
                        <td>12345,678</td>
                        <td><button>수정</button></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox"></td>
                        <td>1</td>
                        <td>1234,5678</td>
                        <td>12345,6789</td>
                        <td>12345,678</td>
                        <td><button>수정</button></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox"></td>
                        <td>1</td>
                        <td>1234,5678</td>
                        <td>12345,6789</td>
                        <td>12345,678</td>
                        <td><button>수정</button></td>

                    </tr>
                    <tr>
                        <td><input type="checkbox"></td>
                        <td>1</td>
                        <td>1234,5678</td>
                        <td>12345,6789</td>
                        <td>12345,678</td>
                        <td><button>수정</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
        </div>
<div th:replace="common/footer.html"></div>
    

</body>
</html>