<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상품 정보 등록</title>

    <link rel="stylesheet" href="/css/seller/reset.css" type="text/css">
    <link rel="stylesheet" href="/css/seller/layout.css">
    <link rel="stylesheet" href="/css/seller/sub04.css">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <style>
        .content_right {
            float: none;
            margin: 0 auto;
        }
    </style>
</head>

<body>
<div th:replace="common/header.html"></div>
    <div id="wrap">
        <div class="content_right">
            <div class="content">
                <div class="table_title">
                    <span class="info_title" style="margin-bottom:20px;">
                        상품 정보 등록
                    </span>
                </div>

				<form action="/seller/sub03" name="registNewProduct" method="post" enctype="mulipart/form-data">
                <table class="p_regist">
                    <tr>
                        <th>카테고리</th>
                        <td class="select_box">
                            <div style="margin-right:80px;">
                                <select name="refcategoryCode" id="refcategoryCode" style="width:240px;">
                                    <!-- ajax 조회 -->
                                </select>
                            </div>

                            <div>
                                <select name="categoryCode" id="categoryCode" style="width:240px;">
                                    <!-- ajax 조회 -->
                                </select>
                            </div>
                        </td>

                    </tr>
                    <tr>
                        <th>상품명</th>
                        <td>
                            <input type="text" name="pName" placeholder="상품명을 입력해주세요." required>
                        </td>
                    </tr>
                    <tr>
                        <th>판매가격</th>
                        <td>
                            <input type="text" id="pPrice" name="pPrice" placeholder="원" required>
                        </td>
                    </tr>
                    <tr>
                        <th>할인율</th>
                        <td>
                            <input type="text" id="pDiscount" name="pDiscount" placeholder="20%">
                        </td>
                    </tr>
                    <tr>
                        <th>실제 판매가</th>
                        <td>
                            <input type="text" id="prPrice" name="prPrice" placeholder="원">
                        </td>
                    </tr>
                    <tr>
                        <th>쿠폰 적용 여부</th>
                        <td>
                            <input type="radio" id="y" name="pAbleCoupon" value="Y">
                            <label for="y">Y</label>
                            <input type="radio" id="n" name="pAbleCoupon" value="N">
                            <label for="n">N</label>
                        </td>
                    </tr>
                </table>
			    </form>

                <div class="option_box">
                    <p class="info_title">옵션</p>
                    <table class="option_content">
                        <thead>
                            <tr>
                                <th>사이즈</th>
                                <th>색상</th>
                                <th>재고 수량</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td><input type="text" name="pSize"></td>
                                <td><input type="text" name="pSize"></td>
                                <td><input type="text" name="pSize"></td>
                            </tr>
                            <tr>
                                <td><input type="text" name="pColor"></td>
                                <td><input type="text" name="pColor"></td>
                                <td><input type="text" name="pColor"></td>
                            </tr>
                            <tr>
                                <td><input type="text" name="pStock"></td>
                                <td><input type="text" name="pStock"></td>
                                <td><input type="text" name="pStock"></td>
                            </tr>
                            <tr>
                                <td><input type="text"></td>
                                <td><input type="text"></td>
                                <td><input type="text"></td>
                            </tr>
                        </tbody>
                    </table>

                    <a class="plus_btn" style="font-weight:bold; margin-top:20px; font-size:50px; display:block; text-align:left; cursor:pointer;">+</a>
                </div>

                <script>
                    $(function(){
                        $('.plus_btn').click(function(){
                            $(this).parent().find('.option_content').find('tbody').find('tr:last-child')
                            .after('<tr><td><input type="text"></td><td><input type="text"></td><td><input type="text"></td></tr>')
                        })
                    })
                </script>

                <div class="thumbnail">
                    <p class="info_title">대표이미지</p>
                    <div>
                    <div>
                        <img src="assets/img/0000-1234-5678" alt="">
                        <input type="file" id="file1">
                        <label for="file1"><span>+</span></label>
                    </div>
                    <div>
                        <img src="" alt="">
                        <input type="file" id="file2">
                        <label for="file2"><span>+</span></label>
                    </div>
                    <div>
                        <img src="" alt="">
                        <input type="file" id="file3">
                        <label for="file3"><span>+</span></label>
                    </div>
                </div>
                </div>

                <div class="detail">
                    <p class="info_title">상품상세</p>
                    <div class="text-area_box">
                        <textarea name="" id="" cols="30" rows="10"></textarea>
                    </div>
                </div>

                <div style="text-align:center; padding-top:50px;">
                <button style="background: #060032; font-size: 20px; padding:16px 12px; color:#fff; text-align:center;" id="registBtn">상품등록</button>
            </div>
            
            </div>
        </div>
    </div>
    <div th:replace="common/footer.html"></div>
    <script>
    	$(function(){
    		$.ajax({
    			url : "/seller/category",
    			success : function(data){
    				const categoryCode = $("#categoryCode");
    				
    				for(let index in data){
    					categoryCode.append($("<option>").val(data[index].code).text(data[index].name));
    				}
    			},
    			error : function(e){
    				console.log(e);
    			}
    		})
    	})
    </script>
    
    <script>
    $("#pDiscount").on('propertychange change keyup paste input', function(){
    	
		if($('#pPrice').val() != 0){

		var pPrice = $('#pPrice').val();
		pPrice = parseFloat(pPrice);
		
		var pDiscount = $('#pDiscount').val();
		pDiscount = parseFloat(pDiscount);
		
		var prPrice;
		
		prPrice = pPrice * ((100-pDiscount)/100);
		$('#prPrice').val(prPrice);
		}
	});
    </script>
    
     <script>
	  $("#file1").change(function(){
	   if(this.files && this.files[0]) {
	    var reader = new FileReader;
	    reader.onload = function(data) {
	     $(".select_img img").attr("src", data.target.result).width(500);        
	    }
	    reader.readAsDataURL(this.files[0]);
	   }
	  });
	 </script>
</body>

</html>