#content{ margin-left: 580px; margin-right: 250px; width:850px;}
#title, h6{ display: inline-block; margin-right: 15px; } 
#noticeTop, #noticeBottom, #numNorice label{margin: 20px;}
/* notice */
#noticeTop{ margin-bottom: 40px; }       
#noticeBottom{ margin-top: 40px; }
#numNotice{ margin-top: 20px;}
/* insertInfo */
#insertInfo{ margin:20px; }
.input {
    height: 18px;
    font-size: 14px;
    padding: 1px;
}
.semiTitle{ display:inline-block; width: 145px; font-weight: bold; margin-right: 30px;}
.insertLabel{ display: inline-block;  margin: 10px; padding-bottom: 15px;  
				border-bottom: 0.5px solid #BBBBBB;  width: 700px; }
#rep_name, #rep_num{ width : 125px; }
#address{ width : 300px;}
#detail-address{width : 200px; margin-left: 180px;  margin-top: 10px;}
#phone, #account_num{width : 190px;}
/* check agreement */
input[type=checkbox]{ width:25px; height:15px; margin:5px;}
#agree{ font-weight: bold; margin:0px}
/* button */
.notice { background-color : #26C826; color :White;}
#btnArea{ text-align: center; margin:10px;}
#apply{ background-color: #060032; color:white; border:0; width: 85px; height: 40px; 
		font-size: 15px; margin: 10px; cursor: pointer;}
/* 중복검사 btn */
.btn {
    background-color: #060032;
    color: white;
    text-align: center;
    font-size: 14px;
    padding: 5px;
    margin: 10px;
    cursor: pointer;
}