<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"  
				xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상품 목록 페이지</title>
    <link rel="stylesheet" href="/css/product_style.css">
    <style>
    	#nav-wrapper{margin-bottom: 0 !important;}
    </style>
</head>
<body>
    <div id="wrap">
       <div th:replace="common/header.html"></div>
        <section id="product_list">
            <div class="container">
                <div class="product_list">
                    <div class="p_header">
                    	<th:block th:switch="${type}">
	                        <h2 class="proudct_title" th:case="man">남성</h2>
	                        <h2 class="proudct_title" th:case="woman">여성</h2>
	                        <h2 class="proudct_title" th:case="public">공용</h2>
                    	</th:block>
                        <ul>
                            <li th:classappend="${filter.align} == hot ? 'on'"><a th:href="@{/product/list/{type}(type=${type}, page=1, align='hot', category=${param.category})}">인기순</a></li>
                            <li th:classappend="${filter.align} == latest ? 'on'"><a th:href="@{/product/list/{type}(type=${type}, page=1, align='latest', category=${param.category})}">최신순</a></li>
                            <li th:classappend="${filter.align} == lowPrice ? 'on'"><a th:href="@{/product/list/{type}(type=${type}, page=1, align='lowPrice', category=${param.category})}">낮은 가격순</a></li>
                            <li th:classappend="${filter.align} == highPrice ? 'on'"><a th:href="@{/product/list/{type}(type=${type}, page=1, align='highPrice', category=${param.category})}">높은 가격순</a></li>
                        </ul>
                    </div>
                    <div class="p_2step_box">
                        <ul>
                            <li th:classappend="${filter.category} == all ? 'on'"><a th:href="@{/product/list/{type}(type=${type}, page=1, align=${param.align}, category='all')}" th:text="|전체 (${categoryCount.CATEGORY_ALL})|">전체</a></li>
                            <li th:classappend="${filter.category} == outer ? 'on'"><a th:href="@{/product/list/{type}(type=${type}, page=1, align=${param.align}, category='outer')}" th:text="|아우터 (${categoryCount.CATEGORY_OUTER})|">아우터 (55)</a></li>
                            <li th:classappend="${filter.category} == top ? 'on'"><a th:href="@{/product/list/{type}(type=${type}, page=1, align=${param.align}, category='top')}" th:text="|상의 (${categoryCount.CATEGORY_TOP})|">상의 (55)</a></li>
                            <li th:classappend="${filter.category} == under ? 'on'"><a th:href="@{/product/list/{type}(type=${type}, page=1, align=${param.align}, category='under')}" th:text="|하의 (${categoryCount.CATEGORY_UNDER})|">하의 (55)</a></li>
                            <li th:classappend="${filter.category} == acc ? 'on'"><a th:href="@{/product/list/{type}(type=${type}, page=1, align=${param.align}, category='acc')}" th:text="|ACC (${categoryCount.CATEGORY_ACC})|">ACC (55)</a></li>
                        </ul>
                    </div>

                    <div class="product_items" th:if="${#lists.size(productList) > 0}">
                    
                    	 <div class="item" th:each="list : ${productList}">
                            <a th:href="@{'/product/view/' + ${list.pNo}}">
                                <div class="photo">
                                    <img th:src="@{${list.imageList[0].route} + ${list.imageList[0].imgrName}}" alt="">
                                </div>
                                <p class="title" th:text="${list.pName}">남성용 여름 캐주얼 셔츠 보카시 투버튼 7부 셔츠</p>
                                <div class="price_wrap">
                                    <p class="price" th:with="perwon = ${list.pPrice - (list.pPrice * (list.pDiscount / 100.0))}">
                                        <span class="won" th:text="${#numbers.formatInteger(perwon, 3, 'COMMA')}">17,000</span>원
                                    </p>
                                    <p class="price_sale" th:if="${list.pDiscount > 0}" th:text="|${#numbers.formatInteger(list.pPrice, 3, 'COMMA')}원|">25,000원</p>
                                </div>
                                <div class="product_status">
                                    <p th:text="|리뷰 ${list.reviewCount}|">리뷰 10</p>
                                    <p th:text="|구매 ${list.selCount}|">구매 20</p>
                                </div>
                            </a>    
                        </div>
                    
                       <!--  <div class="item">
                            <a href="javascript:;">
                                <div class="photo">
                                    <img src="/images/product_sam1.png" alt="">
                                </div>
                                <p class="title">남성용 여름 캐주얼 셔츠 보카시 투버튼 7부 셔츠</p>
                                <div class="price_wrap">
                                    <p class="price">
                                        <span class="won">17,000</span>
                                        원
                                    </p>
                                    <p class="price_sale">25,000원</p>
                                </div>
                                <div class="product_status">
                                    <p>리뷰 10</p>
                                    <p>구매 20</p>
                                </div>
                            </a>    
                        </div> -->

                    </div>
                    
                    <div class="product_items nodata" th:unless="${#lists.size(productList) > 0}">
                    
                   </div>

                    <div class="pagaing_wrap" th:if="${#lists.size(productList) > 0}">
                        <ul class="pagaing_left"> 
                            <li class="allPrev" th:classappend="${pi.page == 1} ? 'hide'">
                            	<a th:href="@{/product/list/{type}(type=${type}, page=1, align=${param.align}, category=${param.category})}" th:if="${pi.page > 1}"></a>
	                            <a href="javascript:;" th:unless="${pi.page > 1}"></a>
                            </li>
                            <li class="prev" th:classappend="${pi.page == 1} ? 'hide'">
	                            <a th:href="@{/product/list/{type}(type=${type}, page=${pi.page - 1}, align=${param.align}, category=${param.category})}" th:if="${pi.page > 1}"></a>
                            	<a href="javascript:;" th:unless="${pi.page > 1}"></a>
                            </li>
                        </ul>
                        
                        <ul class="pagaing_num">
                        	<th:block th:each="pd : ${#numbers.sequence(pi.startPage, pi.endPage)}">
                        		<li th:classappend="${pi.page == pdStat.current} ? 'on'">
                        			<a th:href="@{/product/list/{type}(type=${type}, page=${pdStat.current}, align=${param.align}, category=${param.category})}" th:text="${pdStat.current}"></a>
                        		</li>
                        	</th:block>
                            
                        </ul>

                        <ul class="pagaing_right" >
                            <li class="next" th:classappend="${pi.page == pi.endPage} ? 'hide'">
                            	<a th:href="@{/product/list/{type}(type=${type}, page=${pi.page + 1}, align=${param.align}, category=${param.category})}" th:if="${pi.page < pi.endPage}"></a>
                            	<a href="javascript:;" th:unless="${pi.page < pi.endPage}"></a>
                            </li>
                            <li class="allNext"  th:classappend="${pi.page == pi.endPage} ? 'hide'">
                            	<a th:href="@{/product/list/{type}(type=${type}, page=${pi.endPage}, align=${param.align}, category=${param.category})}" th:if="${pi.page < pi.endPage}"></a>
                            	<a href="javascript:;" th:unless="${pi.page < pi.endPage}"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        
        <div th:replace="common/footer.html"></div>
    </div>
    
    
</body>
</html>