 #wrapper {display: flex;}
    #content-title, h6{ display: inline-block; margin-right: 15px; }
    ul, li{list-style: none; padding-left: 0;}
    a{text-decoration: none;}
    /* sidebar */
    #sidebar{    width: 160px;    padding-left :10%;}
    #sidebar li{ width: 70px; height: 40px; }
    #sidebar a {  color:rgb(75, 64, 64); width: 70px; height: 30px; display: inline-block; padding:5px; }
    .sideA:hover{ background-color: #060032; color:white; }
    #sidebar a:hover:not(.current){ background-color: #060032; color:white; }
    #sidebar .current{background-color: #060032; color:white;}
    /* content */
    #content{  margin : 0px auto auto 11%; width: 850px;}
    
    /* question-detail */
    .detail-title{border-top: 1px solid lightgray; border-bottom: 1px solid lightgray;}
    .title-wrapper, .date-wrapper{ margin:5px; display: inline-block;}
    .title-wrapper{width : 640px; }
    .category-wrapper{margin:5px;}
    .title{font-weight: bold; margin:5px;}
    .name, .enroll-date, .category{ margin-left : 20px;}
    .question-content { width : 850px; overflow:auto; border-bottom: 1px solid lightgray; 
    margin-bottom: 30px; padding:5px;min-height: 200px;}
    /* answer-detail*/
    .answer-content { width : 850px; min-height: 200px; border-bottom: 1px solid lightgray;
     border-top: 1px solid lightgray; margin :10px;  }
    .null{text-align: center;  width: 850px; display: inline-block;}
    .textarea{width : 850px; height:200px; resize:none;}
    /* answer-btn */
    .answer-btn{ display: inline-block;}
    .delete {width: 55px; height: 30px; border: 1px solid black; background-color: white; cursor: pointer; margin-left:5px;}
    /* btn-area */
    .btn-area{ display:flex; justify-content: center; padding-top:15px; padding-bottom: 15px;}
    .insert, .modify, .to-list{line-height: 30px; text-align: center; width: 55px; height: 30px; border: 0; background-color: #060032; color:white;  cursor: pointer; }