	#wrapper {display: flex;}
	#title, h6{ display: inline-block; margin-right: 15px; }
	ul, li{list-style: none; padding-left: 0;}
	a{text-decoration: none;}
	/* content */
	#content{  margin : 0px auto auto 11%; width: 850px;}
	/* searchArea */
	#searchArea{ display: flex; justify-content: right;}
	#searchFAQ{ width: 300px; height: 23px; display: inline-block; margin: 5px;}
	#finding{ background-color : white; width: 23px; height:23px;  cursor: pointer; border:0;} 
	#category{ margin-top : 40px; margin-bottom : 20px; }
	#categoryUl{ display: table; width: 100%; min-width: 850px; border: 1px solid #ddd;  border-left: none;  box-sizing: border-box;}
	#categoryUl li{display: table-cell;   width: 9.09%;}
	#categoryUl label { border-left: 1px solid #ddd; width: 100%; height: 30px; display: table; text-align: center; line-height:30px; cursor: pointer;}
	#categoryUl label:hover{ font-weight: bold; background-color: lightgrey;}
	/* FAQ area */
	.title ul{ height: 30px; border-top: 1px solid lightgray; margin: 0; border-bottom: 1px solid lightgray;}
	.title li{ font-weight: bold; display: table-cell;  text-align: center; line-height: 30px; }
	.FAQ_num { width : 120px; text-align: center;}
	.FAQ_content{ width : 720px; }
	.cursor {cursor:pointer;}
	.question{ height: 40px; }
	.question ul { border-bottom: 1px solid lightgray; margin : 0;}
	.question li{ display: table-cell; height: 40px; line-height: 40px;}
	.answer-wrapper { display : none; border-bottom: 1px solid lightgray;}
	.answer{ padding-left: 119px; margin:10px;}
	#finding img{    vertical-align: sub;}
    .null {text-align: center;	font-size: x-large;	font-weight: bold;align-self: center; margin-top:60px;}
	
	/* btn */
	.btnArea{ display: flex; justify-content: flex-end; width: 850px; padding-bottom: 15px;}
	.mOrd{ margin-right: 5px; border:0; background-color: lightgray; width : 40px; height : 25px;}
	/* insert btn */
	#insertBtn{ display: flex; justify-content: flex-end; padding-top:15px; padding-bottom: 15px;}
	#insertFAQ{ width: 55px; height: 30px; border: 0; background-color: #060032; color:white; text-align: center;  line-height: 30px; }