/* reset */
body{margin: 0;}

/* layout */
#product_list{}
#order{}
#product_view{}

/* container */
.container{width: 1180px; margin: 0 auto;}
.container h2{margin: 0;}
.container h3{margin: 0;}
.container h4{margin: 0;}
.container ul{margin: 0; padding: 0;}
.container ul li{list-style-type: none;}
.container a{text-decoration: none; color:#000;}
.container p{margin: 0;}

/* pagaing_wrap */
.pagaing_wrap{display: flex; justify-content: center; margin-top: 80px;}
.pagaing_wrap ul{display: flex; }
.pagaing_wrap ul li{width: 35px; height: 35px; box-sizing:border-box;}
.pagaing_wrap ul li a{display: block; width: 100%; height: 100%;}

.pagaing_wrap ul.pagaing_left li.allPrev{margin-right: 3px;}
.pagaing_wrap ul.pagaing_left li a{background:#e6e6e6;}
.pagaing_wrap ul.pagaing_left li.allPrev a{background: url(../images/ico_allPrev.png) no-repeat 50% 50% #e6e6e6;}
.pagaing_wrap ul.pagaing_left li.prev a{background: url(../images/ico_prev.png) no-repeat 50% 50% #e6e6e6;}
.pagaing_wrap ul.pagaing_left li.allPrev.hide a{background: url(../images/ico_allPrev_hide.png) no-repeat 50% 50% #e6e6e6;}
.pagaing_wrap ul.pagaing_left li.prev.hide a{background: url(../images/ico_prev_hide.png) no-repeat 50% 50% #e6e6e6;}

.pagaing_wrap ul.pagaing_num{margin: 0 17px;}
.pagaing_wrap ul.pagaing_num li{border:1px solid #e6e6e6; margin-right: 3px;}
.pagaing_wrap ul.pagaing_num li:last-child{margin-right: 0;}
.pagaing_wrap ul.pagaing_num li a{text-align: center; line-height: 35px; font-size: 13px;}
.pagaing_wrap ul.pagaing_num li.on{border-color:#060032;}
.pagaing_wrap ul.pagaing_num li.on a{color:#fff; background:#060032; font-weight: bold;}

.pagaing_wrap ul.pagaing_right li.next{margin-right: 3px;}
.pagaing_wrap ul.pagaing_right li a{background:#e6e6e6;}
.pagaing_wrap ul.pagaing_right li.next a{background: url(../images/ico_next.png) no-repeat 50% 50% #e6e6e6;}
.pagaing_wrap ul.pagaing_right li.allNext a{background: url(../images/ico_allNext.png) no-repeat 50% 50% #e6e6e6;}
.pagaing_wrap ul.pagaing_right li.next.hide a{background: url(../images/ico_next_hide.png) no-repeat 50% 50% #e6e6e6;}
.pagaing_wrap ul.pagaing_right li.allNext.hide a{background: url(../images/ico_allNext_hide.png) no-repeat 50% 50% #e6e6e6;}

/* product_list */
.product_list{padding: 50px 0 100px;}
.product_list .p_header{display: flex; justify-content: space-between; align-items: center;margin-bottom: 30px;}
.product_list .p_header .proudct_title{margin: 0; font-size: 28px; font-weight: bold;}
.product_list .p_header ul{display: flex;}
.product_list .p_header ul li{position: relative; padding: 0 13px;}
.product_list .p_header ul li:first-child{padding-left: 0;}
.product_list .p_header ul li:last-child{padding-right: 0;}
.product_list .p_header ul li:before{content:''; position: absolute; top:calc(50% - 5px); left:0; width: 1px; height: 10px; background:#E6E6E6;}
.product_list .p_header ul li:first-child:before{width: 0;}
.product_list .p_header ul li a{display: block; font-size: 13px; color:#000;padding: 2px 0;}
.product_list .p_header ul li.on a{border-bottom:1px solid #000;}
.product_list .p_2step_box{border:2px solid #060032; box-sizing: border-box; padding: 20px 50px;}
.product_list .p_2step_box ul{display: flex;}
.product_list .p_2step_box ul li{position: relative; width: 20%; padding-left: 8px; box-sizing: border-box; }
.product_list .p_2step_box ul li:before{content:''; position: absolute; top:calc(50% - 1.5px); left:0; width: 3px; height: 3px; border-radius:50%; background:#333;}
.product_list .p_2step_box ul li a{display: block; font-size: 14px; color:#333;}
.product_list .p_2step_box ul li.on a{font-weight: bold; color:#060032;}
.product_list .product_items{display: flex; flex-wrap: wrap;}
.product_list .product_items.nodata{text-align: center; min-height: 510px; box-sizing: border-box; background: url(../images/ico_nodata.png) no-repeat 50% 50%; border-bottom: 1px solid #e6e6e6;}
.product_list .product_items .item{width:calc(25% - 23px); margin-right: 30px; margin-top: 50px; }
.product_list .product_items .item:nth-child(4n){margin-right: 0;}
.product_list .product_items .item a{display: block;}
.product_list .product_items .item a .photo{overflow: hidden; margin-bottom: 12px; box-shadow: 1px 1px 20px 0 rgba(0, 0, 0, 0.05); height:326px;}
.product_list .product_items .item a .photo img{transition: all .2s; display: block; width:100%;}
.product_list .product_items .item a:hover .photo img{transform: scale(1.05);}
.product_list .product_items .item a .title{font-size: 18px; line-height: 28px;	min-height:56px;}
.product_list .product_items .item a .price_wrap{display: flex;margin-top: 10px;}
.product_list .product_items .item a .price_wrap .price{font-size: 15px;}
.product_list .product_items .item a .price_wrap .price .won{display: inline-block; font-size: 20px; font-weight: bold;}
.product_list .product_items .item a .price_wrap .price_sale{position: relative; font-size: 13px; color:#BBB; padding-top: 8px; margin-left: 7px;}
.product_list .product_items .item a .price_wrap .price_sale:before{content:''; position: absolute; top:17px; left:0; width: 100%; height: 1px; background:#bbb;}
.product_list .product_items .item a .product_status{display: flex; margin-top: 7px;}
.product_list .product_items .item a .product_status p{font-size: 13px; color:rgba(187,187,187,0.5);  margin-right: 7px;}

.order{}
.order .order_wrap{display: flex; min-height: 100vh;}
.order .order_wrap > div{box-sizing: border-box;}
.order .order_wrap .order_view{width: 870px; border-right:1px solid #E6E6E6;padding: 70px 60px 120px 0;}
.order .order_wrap .order_view h2{font-size: 28px;margin-bottom: 60px;font-weight: 400;}
.order .order_wrap .order_view h2.type02{margin-bottom: 30px;}
.order .order_wrap .order_view .item{margin-bottom: 70px;}
.order .order_wrap .order_view .item:last-of-type{margin-bottom: 0;}
.order .order_wrap .order_view .item .order_title{font-size: 20px; font-weight: 400; padding-bottom: 10px; border-bottom:1px solid #666;}
.order .order_wrap .order_view .item .post_wrap{}
.order .order_wrap .order_view .item .post_wrap .radio_wrap{padding: 15px 0 20px; display: flex;}
.order .order_wrap .order_view .item .post_wrap .radio_wrap .radio_item{margin-right: 20px;}
.order .order_wrap .order_view .item .post_wrap .radio_wrap .radio_item input[type='radio']{position: absolute; left: -9999px;}
.order .order_wrap .order_view .item .post_wrap .radio_wrap .radio_item input[type='radio'] + label{position: relative; display: block; height: 18px; line-height: 18px; padding-left: 23px; font-size: 14px;  cursor: pointer;}
.order .order_wrap .order_view .item .post_wrap .radio_wrap .radio_item input[type='radio'] + label:before{content:''; display: block; position: absolute; top:0; left:0; width: 18px; height: 18px; border-radius:50%; background:#fff; border:1px solid #e6e6e6; box-sizing:border-box;}
.order .order_wrap .order_view .item .post_wrap .radio_wrap .radio_item input[type='radio']:checked + label:before{border-color:#000; }
.order .order_wrap .order_view .item .post_wrap .radio_wrap .radio_item input[type='radio']:checked + label:after{content:''; display: block;position: absolute; top:calc(50% - 4px); left:5px;  width: 8px; height: 8px; border-radius:50%; background:#000; }
.order .order_wrap .order_view .item .post_wrap .post_info_wrap{}
.order .order_wrap .order_view .item .post_wrap .post_info_wrap .exist_box{margin-bottom: 15px;}
.order .order_wrap .order_view .item .post_wrap .post_info_wrap .exist_box .name{font-size: 18px; font-weight: bold; margin-bottom: 5px;}
.order .order_wrap .order_view .item .post_wrap .post_info_wrap .exist_box .address{font-size: 18px; font-weight: 400; margin-bottom: 5px;}
.order .order_wrap .order_view .item .post_wrap .post_info_wrap .exist_box .tel{font-size: 18px; font-weight: 400;}
.order .order_wrap .order_view .item .post_wrap .post_info_wrap .new_exist_box{}
.order .order_wrap .order_view .item .post_wrap .post_info_wrap .new_exist_box dl{display: flex; flex-wrap: wrap; margin: 0;}
.order .order_wrap .order_view .item .post_wrap .post_info_wrap .new_exist_box dl dt{width: 100px; padding-top: 6px;}
.order .order_wrap .order_view .item .post_wrap .post_info_wrap .new_exist_box dl dd{width:calc(100% - 100px); margin-left: 0; margin-bottom: 15px; font-size: 0;}
.order .order_wrap .order_view .item .post_wrap .post_info_wrap .new_exist_box dl dd .name{display: block; width: 150px; height: 32px; line-height: 32px; box-sizing: border-box; border:1px solid #e6e6e6; font-size: 13px; padding: 0 10px;}
.order .order_wrap .order_view .item .post_wrap .post_info_wrap .new_exist_box dl dd .add1{display: inline-block; width: 150px; height: 32px; line-height: 32px; box-sizing: border-box; border:1px solid #e6e6e6; font-size: 13px; padding: 0 10px;}
.order .order_wrap .order_view .item .post_wrap .post_info_wrap .new_exist_box dl dd .add2{display: block; width: 100%; height: 32px; line-height: 32px; box-sizing: border-box; border:1px solid #e6e6e6; font-size: 13px; padding: 0 10px; margin-top: 5px;}
.order .order_wrap .order_view .item .post_wrap .post_info_wrap .new_exist_box dl dd .add3{display: block; width: 100%; height: 32px; line-height: 32px; box-sizing: border-box; border:1px solid #e6e6e6; font-size: 13px; padding: 0 10px; margin-top: 5px;}
.order .order_wrap .order_view .item .post_wrap .post_info_wrap .new_exist_box dl dd .add_btn{display: inline-block; width: 80px; height: 32px; line-height: 32px; text-align: center; vertical-align: top; box-sizing: border-box; border:1px solid #060032; color:#060032; font-size: 14px; margin-left: 5px;}
.order .order_wrap .order_view .item .post_wrap .post_info_wrap .new_exist_box dl dd .post_tel_wrap{display: flex;}
.order .order_wrap .order_view .item .post_wrap .post_info_wrap .new_exist_box dl dd .post_tel_wrap select{display: block; width: 60px; height: 32px; line-height: 32px; box-sizing: border-box; border:1px solid #e6e6e6; padding: 0 5px;}
.order .order_wrap .order_view .item .post_wrap .post_info_wrap .new_exist_box dl dd .post_tel_wrap input{display: block; width: 80px; height: 32px; line-height: 32px; box-sizing: border-box; border:1px solid #e6e6e6; padding: 0 10px;}
.order .order_wrap .order_view .item .post_wrap .post_info_wrap .new_exist_box dl dd .post_tel_wrap span{font-size: 13px; line-height: 32px;margin: 0 5px;}

.order .order_wrap .order_view .item .post_request{}
.order .order_wrap .order_view .item .post_request select{display: block; width: 100%; height: 32px; line-height: 32px; border:1px solid #e6e6e6; box-sizing: border-box; padding: 0 10px; font-size: 13px;}
.order .order_wrap .order_view .item .post_request input{display: block; width: 100%; height: 32px; line-height: 32px; border:1px solid #e6e6e6; box-sizing: border-box; padding: 0 10px; font-size: 13px; margin-top: 5px;}

.order .order_wrap .order_view .item .order_list_wrap{}
.order .order_wrap .order_view .item .order_list_wrap .order_list{}
.order .order_wrap .order_view .item .order_list_wrap .order_list:first-child{}
.order .order_wrap .order_view .item .order_list_wrap .order_list .mall_name{font-size: 18px; font-weight: bold; line-height: 40px; margin-top: 40px;}
.order .order_wrap .order_view .item .order_list_wrap .order_list .mall_name:first-of-type{margin-top: 0;}
.order .order_wrap .order_view .item .order_list_wrap .order_list .order_list{padding-right:108px; position:relative;}
.order .order_wrap .order_view .item .order_list_wrap .order_list .order_list .list{ display: flex; border-top:1px solid #e6e6e6; border-bottom:1px solid #e6e6e6; margin-top: -1px;}
.order .order_wrap .order_view .item .order_list_wrap .order_list .order_list .list:first-child{margin-top:0;}
.order .order_wrap .order_view .item .order_list_wrap .order_list .order_list .list .list_left{width:600px; position: relative;padding: 30px 30px 30px 140px; border-right:1px solid #e6e6e6; box-sizing: border-box;}
.order .order_wrap .order_view .item .order_list_wrap .order_list .order_list .list .list_left .img{position: absolute; top:30px; left:20px; width: 100px; height: 100px}
.order .order_wrap .order_view .item .order_list_wrap .order_list .order_list .list .list_left .img img{display: block; width: 100%;}
.order .order_wrap .order_view .item .order_list_wrap .order_list .order_list .list .list_left .title{font-size: 18px; margin-bottom: 15px; }
.order .order_wrap .order_view .item .order_list_wrap .order_list .order_list .list .list_left .option{font-size: 14px; color:#999; margin-bottom: 15px;}
.order .order_wrap .order_view .item .order_list_wrap .order_list .order_list .list .list_left .list_quan{font-size: 14px;}
.order .order_wrap .order_view .item .order_list_wrap .order_list .order_list .list_left .list_quan input{display: inline-block; width: 60px; height: 30px; line-height: 30px; border:1px solid #e6e6e6; box-sizing: border-box; padding: 0 10px; text-align: center; font-size: 14px;}
.order .order_wrap .order_view .item .order_list_wrap .order_list .order_list .list .list_center{display:flex; width: 100px; padding: 10px; text-align: center; border-right:1px solid #e6e6e6; box-sizing:border-box; align-items: center;    justify-content: center;}
.order .order_wrap .order_view .item .order_list_wrap .order_list .order_list .list .list_center p{font-size: 14px;}
.order .order_wrap .order_view .item .order_list_wrap .order_list .order_list .list .list_center p span{font-weight: bold;}
.order .order_wrap .order_view .item .order_list_wrap .order_list .order_list .list .list_right{position:absolute; top:0; right:0; display:flex; width: 108px;height:100%; text-align: right; box-sizing: border-box; padding:10px; box-sizing:border-box; border:1px solid #e6e6e6; border-left-width:0; border-right-width:0;     align-items: center;
 justify-content: center;}
.order .order_wrap .order_view .item .order_list_wrap .order_list .order_list .list .list_right .post_price{font-size: 14px;margin-bottom: 3px;}
.order .order_wrap .order_view .item .order_list_wrap .order_list .order_list .list .list_right .post_price span{font-weight: bold;}
.order .order_wrap .order_view .item .order_list_wrap .order_list .order_list .list .list_right .post_tip{display: inline-block; font-size: 12px; color:#666; background:url(../images/ico_tip.png) no-repeat right center;padding-right: 20px; line-height: 18px;}

.order .order_wrap .order_view .item .sale_wrap{}
.order .order_wrap .order_view .item .sale_wrap dl{display: flex; margin: 0; padding: 20px 0; align-items: center;border-bottom:1px solid #e6e6e6;}
.order .order_wrap .order_view .item .sale_wrap dl dt{width: 140px; font-size: 16px;}
.order .order_wrap .order_view .item .sale_wrap dl dd{width:calc(100% - 140px); display: flex; margin-left: 0;}
.order .order_wrap .order_view .item .sale_wrap dl dd .coupon_txt{font-size: 14px; line-height: 40px;}
.order .order_wrap .order_view .item .sale_wrap dl dd .coupon_txt span{font-size: 18px; font-weight: bold;}
.order .order_wrap .order_view .item .sale_wrap dl dd .btn_coupon{display: inline-block; width: 80px; height: 40px; box-sizing: border-box; text-align: center; line-height: 40px; border:1px solid #060032;font-size: 14px; margin-left: 15px;}
.order .order_wrap .order_view .item .sale_wrap dl dd .input_box{position: relative; width: 170px;}
.order .order_wrap .order_view .item .sale_wrap dl dd .input_box input{display: block; width: 100%; height: 40px; line-height: 40px; box-sizing: border-box; border:1px solid #e6e6e6; font-size: 14px;padding: 0 30px 0 10px; text-align: right;}
.order .order_wrap .order_view .item .sale_wrap dl dd .input_box input[type="number"]::-webkit-outer-spin-button,
.order .order_wrap .order_view .item .sale_wrap dl dd .input_box input[type="number"]::-webkit-inner-spin-button{-webkit-appearance: none; margin: 0;}
.order .order_wrap .order_view .item .sale_wrap dl dd .input_box input + span{position: absolute; top:calc(50% - 9.5px); right:13px; display: block; font-size: 13px; color:#999;}
.order .order_wrap .order_view .item .sale_wrap dl dd .point_txt{line-height: 40px; padding-left: 14px; font-size: 14px;}
.order .order_wrap .order_view .item .sale_wrap dl dd .point_txt span{color:#060032; font-weight: bold;}
.order .order_wrap .order_view .item .pay_wrap{padding: 15px 0; border-bottom:1px solid #e6e6e6; display: flex;}
.order .order_wrap .order_view .item .pay_wrap a{display: block; width: 100px; height: 40px; line-height: 40px; box-sizing: border-box; font-size: 14px; border:1px solid #060032; color:#060032; text-align: center;
margin-right: 15px;}
.order .order_wrap .order_view .item .pay_wrap a.on{background:#060032; font-weight: bold; color:#fff;}

.order .order_wrap .order_status{width: 310px; padding: 70px 25px;}
.order .order_wrap .order_status .item{}
.order .order_wrap .order_status.fixed .item{position: fixed; top:70px; width: 260px;}
.order .order_wrap .order_status .item h3{font-size: 18px; font-weight: bold; margin-bottom: 17px;}
.order .order_wrap .order_status .item div{display: flex; justify-content: space-between; margin-bottom: 10px;}
.order .order_wrap .order_status .item div p{min-width:70px; font-size: 14px;}
.order .order_wrap .order_status .item div p.title{}
.order .order_wrap .order_status .item div p.txt{text-align:right;}
.order .order_wrap .order_status .item div p.txt span{font-size: 16px; font-weight: bold;}
.order .order_wrap .order_status .item .btn_wrap{padding: 20px 0; border-top:1px solid #e6e6e6; margin-top: 20px;}
.order .order_wrap .order_status .item .btn_wrap button{display: block; width: 100%; height: 60px; line-height: 60px; border-width:0; box-sizing: border-box; font-size: 20px; font-weight: bold; color:#fff;
 background: #060032; cursor: pointer;}

 /*post complete*/
.order .order_wrap .order_view .item .order_complete{}
.order .order_wrap .order_view .item .order_complete .box{background:rgba(6, 0, 50 ,0.5);padding: 50px 0; margin-bottom: 20px;}
.order .order_wrap .order_view .item .order_complete .box .box_title{display: block; text-align: center; font-size: 28px; line-height: 38px; color:#fff;}
.order .order_wrap .order_view .item .order_complete .box p{text-align: center; font-size: 24px; color:#fff; line-height: 38px;}
.order .order_wrap .order_view .item .order_complete a{display: block; width: 120px; height: 40px; line-height: 40px; text-align: center; color:#fff; background:#060032; font-size: 14px; margin:0 auto;}
.order .order_wrap .order_view .item .post_wrap.type02{padding-top: 20px;}
.order .order_wrap .order_view .item .post_wrap.type02 .post_info_wrap .exist_box{}
.order .order_wrap .order_view .item .post_wrap.type02 .post_complete{font-size: 18px; color:#666;}
.order .order_wrap .order_status .item div.line{border-top:1px solid #E6E6E6;padding-top: 20px; margin-top: 20px;}
.order .order_wrap .order_status .item div p.txt span.card_num{font-size: 14px; font-weight: 400; color:#666; display: block;}
.order .order_wrap .order_status .item div p.txt span.bold{font-size: 14px;}

/* product_view */
.product_view{display: flex; }
.product_view > div{box-sizing: border-box;}
.product_view .view_main_wrap{width: 880px;padding: 35px 0; padding-right: 20px; box-sizing: border-box; border-right:1px solid #e6e6e6;}
.product_view .view_main_wrap .view_top_wrap{display: flex; padding-bottom: 70px;border-bottom:1px solid #000;}
.product_view .view_main_wrap .view_top_wrap .slide_wrap{width: 420px;}
.product_view .view_main_wrap .view_top_wrap .slide_wrap .img{}
.product_view .view_main_wrap .view_top_wrap .slide_wrap .img img{width: 100%;}
.product_view .view_main_wrap .view_top_wrap .slide_wrap .img_list{display: flex; justify-content: center;   margin-top: 25px;}
.product_view .view_main_wrap .view_top_wrap .slide_wrap .img_list a{display: block; width: 84px; height: 84px;  box-sizing: border-box; margin:0 5px; text-align:center;}
.product_view .view_main_wrap .view_top_wrap .slide_wrap .img_list a.on{border:1px solid rgba(6, 0, 50, 0.5);}
.product_view .view_main_wrap .view_top_wrap .slide_wrap .img_list a img{display:inline-block; height: 100%; font-size:0;}
.product_view .view_main_wrap .view_top_wrap .view_txt_wrap{position: relative; width: 460px; padding-left: 35px; box-sizing: border-box;}
.product_view .view_main_wrap .view_top_wrap .view_txt_wrap .product_title{font-size: 26px; line-height: 40px; padding-right: 70px; margin-bottom: 40px;}
.product_view .view_main_wrap .view_top_wrap .view_txt_wrap .btn_wish{display: block;position: absolute; top:0; right:0; width: 40px; height: 40px; box-sizing: border-box; border-radius: 50%; border:1px solid #e6e6e6; background:url(../images/ico_wish.png) no-repeat 50% 50%;}
.product_view .view_main_wrap .view_top_wrap .view_txt_wrap .btn_wish.on{background:url(../images/ico_wish_on.png) no-repeat 50% 50%; border-color:#060032;}
.product_view .view_main_wrap .view_top_wrap .view_txt_wrap .sale_price{position: relative; display: inline-block; font-size: 16px; color:#999;}
.product_view .view_main_wrap .view_top_wrap .view_txt_wrap .sale_price:after{display: block; content:''; position: absolute; top:calc(50% - 0.5px); left:0; width: 100%; height: 1px; background:#999;}
.product_view .view_main_wrap .view_top_wrap .view_txt_wrap .price_wrap{display: flex; align-items: flex-end; justify-content: space-between; border-bottom:1px solid rgba(153,153,153,0.5); padding-bottom: 25px; margin-bottom: 25px;}
.product_view .view_main_wrap .view_top_wrap .view_txt_wrap .price_wrap .price{font-size: 28px; line-height: 1;}
.product_view .view_main_wrap .view_top_wrap .view_txt_wrap .price_wrap .price span{font-size: 40px; font-weight: bold;}
.product_view .view_main_wrap .view_top_wrap .view_txt_wrap .price_wrap .price_per{font-size: 32px; line-height: 1;}
.product_view .view_main_wrap .view_top_wrap .view_txt_wrap .price_wrap .price_per span{font-size: 48px; font-weight: bold;}
.product_view .view_main_wrap .view_top_wrap .view_txt_wrap .view_status{}
.product_view .view_main_wrap .view_top_wrap .view_txt_wrap .view_status strong{display: block; font-size: 16px; font-weight: bold; margin-bottom: 7px;}
.product_view .view_main_wrap .view_top_wrap .view_txt_wrap .view_status .post_price{font-size: 14px; color:#666; margin-bottom: 5px;}
.product_view .view_main_wrap .view_top_wrap .view_txt_wrap .view_status .post_price span{font-size: 13px;}
.product_view .view_main_wrap .view_top_wrap .view_txt_wrap .view_status .post_day{font-size: 14px; margin-bottom: 5px;}
.product_view .view_main_wrap .view_top_wrap .view_txt_wrap .view_status .post_day span{font-size: 15px; font-weight: bold; color:#060032;}
.product_view .view_main_wrap .view_top_wrap .view_txt_wrap .view_status .tip{font-size: 13px; color:#666;}

.product_view .view_main_wrap .view_tab_wrap{padding-top: 25px;}
.product_view .view_main_wrap .view_tab_wrap.fixed{height: 60px;}
.product_view .view_main_wrap .view_tab_wrap .tab_box{display: flex;}
.product_view .view_main_wrap .view_tab_wrap.fixed .tab_box{position:fixed; top:0; width: 859px; z-index: 1;}
.product_view .view_main_wrap .view_tab_wrap .tab_box a{display: block; width: calc(25% - -1px); height: 60px; line-height: 60px; box-sizing: border-box; text-align: center; font-size: 16px; border:1px solid #e6e6e6; margin-left: -1px; background:#fff;
}
.product_view .view_main_wrap .view_tab_wrap .tab_box a:first-child{margin-left: 0;}
.product_view .view_main_wrap .view_tab_wrap .tab_box a.on{position: relative; z-index: 1; font-weight: bold; color:#fff; background:#060032;}
.product_view .view_main_wrap .view_tab_wrap .tab_box a span{font-weight: bold; color:#060032;}
.product_view .view_main_wrap .view_tab_wrap .tab_box a.on span{color:#fff;}

.product_view .view_main_wrap .view_detail_wrap{}
.product_view .view_main_wrap .view_detail_wrap .detail_wrap{padding: 40 0;}
.product_view .view_main_wrap .view_detail_wrap .detail_wrap img{width: 100%;}

.product_view .view_main_wrap .view_item_wrap{padding: 40px 0;}
.product_view .view_main_wrap .view_item_wrap .pagaing_wrap{margin-top: 40px;}
.product_view .view_main_wrap .view_item_wrap .head{display: flex; justify-content: space-between; padding: 8px 0; border-bottom:1px solid #666; }
.product_view .view_main_wrap .view_item_wrap .head .title{font-size: 20px; font-weight: bold;}
.product_view .view_main_wrap .view_item_wrap .head .view_qna_top{display: flex; align-items: center;}
.product_view .view_main_wrap .view_item_wrap .head .view_qna_top .checkbox{}
.product_view .view_main_wrap .view_item_wrap .head .view_qna_top .checkbox input[type="checkbox"]{position: absolute; left:-9999px;}
.product_view .view_main_wrap .view_item_wrap .head .view_qna_top .checkbox input[type="checkbox"] + label{padding-left: 23px;display: block; font-size: 13px; background:url(../images/checkbox.png) no-repeat 0 50%; cursor:pointer;}
.product_view .view_main_wrap .view_item_wrap .head .view_qna_top .select{margin-left: 15px; }
.product_view .view_main_wrap .view_item_wrap .head .view_qna_top .checkbox input[type="checkbox"]:checked + label{background-image:url(../images/checkbox_on.png);}
.product_view .view_main_wrap .view_item_wrap .head .view_qna_top .select select{display: block; width: 100%; box-sizing: border-box; padding: 0 10px; border:1px solid #e6e6e6; font-size: 13px;height: 32px; line-height: 32px;}
.product_view .view_main_wrap .view_item_wrap .head .view_qna_top .btn_qna{display: block; width: 100px; height: 32px; line-height: 32px; text-align: center; font-size: 13px; color:#fff; background:#060032; font-weight: bold; margin-left: 6px;}


.product_view .view_main_wrap .view_item_wrap .review_wrap{}
.product_view .view_main_wrap .view_item_wrap .review_wrap .nodata{text-align: center; min-height: 510px; box-sizing: border-box; background: url(../images/ico_nodata.png) no-repeat 50% 50%; border-bottom: 1px solid #e6e6e6;}
.product_view .view_main_wrap .view_item_wrap .review_wrap .review_list{position: relative; padding: 20px 0 30px; border-bottom:1px solid #e6e6e6;}
.product_view .view_main_wrap .view_item_wrap .review_wrap .review_list .review_date{position: absolute; top:20px; right:0;font-size: 13px; color:#666;}
.product_view .view_main_wrap .view_item_wrap .review_wrap .review_list .review_like{display: block; position: absolute; top:50px; right:0; height: 25px;line-height: 25px; box-sizing: border-box; border-radius: 12.5px; color:#999; border:1px solid #999; text-align: center; font-size: 13px;padding: 0 6px;}
.product_view .view_main_wrap .view_item_wrap .review_wrap .review_list .review_like.on{color:#060032; border-color:#060032}
.product_view .view_main_wrap .view_item_wrap .review_wrap .review_list .review_like:hover{color:#060032; border-color:#060032;}
.product_view .view_main_wrap .view_item_wrap .review_wrap .review_list .review_id{font-size: 14px; color:#000; margin-bottom: 7px;}
.product_view .view_main_wrap .view_item_wrap .review_wrap .review_list .review_id .sub{font-size: 13px; color:rgba(153, 153, 153, 0.7);}
.product_view .view_main_wrap .view_item_wrap .review_wrap .review_list .review_star_wrap{display: flex; margin-bottom: 13px;}
.product_view .view_main_wrap .view_item_wrap .review_wrap .review_list .review_star_wrap .reive_star{width: 20px; height: 20px; background:url(../images/ico_star.png) no-repeat 50% 50%; margin-right: 3px;}
.product_view .view_main_wrap .view_item_wrap .review_wrap .review_list .review_star_wrap .reive_star.on{background-image: url(../images/ico_star_on.png);}
.product_view .view_main_wrap .view_item_wrap .review_wrap .review_list .review_option{font-size: 13px; color:#999;}

.product_view .view_main_wrap .view_item_wrap .review_wrap .review_list .review_img_wrap{display: flex;padding:10px 0;}
.product_view .view_main_wrap .view_item_wrap .review_wrap .review_list .review_img_wrap .review_img{width:150px; margin-right: 10px; padding:10px 0;}
.product_view .view_main_wrap .view_item_wrap .review_wrap .review_list .review_img_wrap .review_img a{display: block; box-shadow: 1px 1px 20px 0 rgba(0, 0, 0, 0.05); overflow: hidden;}
.product_view .view_main_wrap .view_item_wrap .review_wrap .review_list .review_img_wrap .review_img a img{width: 150px; height:150px; transition: all 0.2s;}
.product_view .view_main_wrap .view_item_wrap .review_wrap .review_list .review_img_wrap .review_img a:hover img{transform: scale(1.05);}

.product_view .view_main_wrap .view_item_wrap .review_wrap .review_list .review_txt_wrap{}
.product_view .view_main_wrap .view_item_wrap .review_wrap .review_list .review_txt_wrap .review_txt{font-size: 15px; line-height: 22px;}

.product_view .view_main_wrap .view_item_wrap .view_qna_wrap{}
.product_view .view_main_wrap .view_item_wrap .view_qna_wrap .nodata{text-align:center; min-height:510px; box-sizing:border-box; background:url(../images/ico_nodata.png) no-repeat 50% 50%; border-bottom:1px solid #e6e6e6;}
.product_view .view_main_wrap .view_item_wrap .view_qna_wrap .qna_list{min-height:510px;}
.product_view .view_main_wrap .view_item_wrap .view_qna_wrap .qna_list .line{border-bottom:1px solid #e6e6e6;}
.product_view .view_main_wrap .view_item_wrap .view_qna_wrap .qna_list .line .line_box{display: flex; height: 50px; line-height: 50px;}
.product_view .view_main_wrap .view_item_wrap .view_qna_wrap .qna_list .line .line_box > p{box-sizing: border-box; font-size: 13px;}
.product_view .view_main_wrap .view_item_wrap .view_qna_wrap .qna_list .line .line_box > p.line_type{width: 100px; padding-left: 20px;}
.product_view .view_main_wrap .view_item_wrap .view_qna_wrap .qna_list .line .line_box > p.line_title{width:calc(100% - 350px);}
.product_view .view_main_wrap .view_item_wrap .view_qna_wrap .qna_list .line .line_box > p.line_title a{display: block; font-size: 15px; background:url(../images/ico_down.png) no-repeat right center; padding-right: 30px;}
.product_view .view_main_wrap .view_item_wrap .view_qna_wrap .qna_list .line.on .line_box > p.line_title a{font-weight: bold;background-image:url(../images/ico_up.png);}
.product_view .view_main_wrap .view_item_wrap .view_qna_wrap .qna_list .line .line_box > p.line_title.secret a{color:#c6c6c6;background:url(../images/ico_secret.png) no-repeat 105px 50%;}
.product_view .view_main_wrap .view_item_wrap .view_qna_wrap .qna_list .line .line_box > p.line_id{width: 90px; color:#666; text-align: center;}
.product_view .view_main_wrap .view_item_wrap .view_qna_wrap .qna_list .line .line_box > p.line_date{width: 100px; color:#666; text-align: center;}
.product_view .view_main_wrap .view_item_wrap .view_qna_wrap .qna_list .line .line_box > p.line_status{width: 60px; color:#ccc; text-align: center;}
.product_view .view_main_wrap .view_item_wrap .view_qna_wrap .qna_list .line .line_box > p.line_status.complete{color:#060032;}

.product_view .view_main_wrap .view_item_wrap .view_qna_wrap .qna_list .line .line_qna_box{background:#F6F6F6; padding:0 40px; display: none;}
.product_view .view_main_wrap .view_item_wrap .view_qna_wrap .qna_list .line .line_qna_box .line_q_box{padding: 15px 0 30px 60px; border-bottom:1px solid #e6e6e6; position: relative;}
.product_view .view_main_wrap .view_item_wrap .view_qna_wrap .qna_list .line .line_qna_box .line_q_box:last-of-type{border-width:0;}
.product_view .view_main_wrap .view_item_wrap .view_qna_wrap .qna_list .line .line_qna_box .line_q_box:before{content:'Q'; display: block; position: absolute; top:15px; left:0; width: 30px; height: 30px; text-align: center; background:#060032; border-radius:50%; color:#fff; font-weight: bold; font-size: 15px; line-height: 30px; box-sizing: border-box;
}
.product_view .view_main_wrap .view_item_wrap .view_qna_wrap .qna_list .line .line_qna_box .line_q_box:last-of-type:before{content:'A';}
.product_view .view_main_wrap .view_item_wrap .view_qna_wrap .qna_list .line .line_qna_box .line_q_box .text_box{margin-bottom: 10px;}
.product_view .view_main_wrap .view_item_wrap .view_qna_wrap .qna_list .line .line_qna_box .line_q_box .text_box p{font-size: 14px; line-height: 24px; color:#666;  white-space: pre-line;}
.product_view .view_main_wrap .view_item_wrap .view_qna_wrap .qna_list .line .line_qna_box .line_q_box .btn_box{display: flex;}
.product_view .view_main_wrap .view_item_wrap .view_qna_wrap .qna_list .line .line_qna_box .line_q_box .btn_box li{position: relative; padding: 0 4px;}
.product_view .view_main_wrap .view_item_wrap .view_qna_wrap .qna_list .line .line_qna_box .line_q_box .btn_box li:before{content:''; display: block; position: absolute; top:calc(50% - 4px); left:0; width: 1px; height: 8px; background:#e6e6e6;}
.product_view .view_main_wrap .view_item_wrap .view_qna_wrap .qna_list .line .line_qna_box .line_q_box .btn_box li:first-child:before{width: 0;}
.product_view .view_main_wrap .view_item_wrap .view_qna_wrap .qna_list .line .line_qna_box .line_q_box .btn_box li:first-child{padding-left: 0;}
.product_view .view_main_wrap .view_item_wrap .view_qna_wrap .qna_list .line .line_qna_box .line_q_box .btn_box li a{display: block; font-size: 12px; padding: 4px;}
.product_view .view_main_wrap .view_item_wrap .view_qna_wrap .qna_list .line .line_qna_box .line_q_box .btn_box li:first-child a{padding-left: 0;}
.product_view .view_main_wrap .view_item_wrap .view_qna_wrap .qna_list .line .line_qna_box .line_q_box .text_date{font-size: 12px; color:#999;}

.product_view .view_main_wrap .view_item_wrap .view_info_wrap{padding-top: 25px;}
.product_view .view_main_wrap .view_item_wrap .view_info_wrap dl{margin: 0; margin-bottom: 45px;}
.product_view .view_main_wrap .view_item_wrap .view_info_wrap dl:last-of-type{margin-bottom: 0;}
.product_view .view_main_wrap .view_item_wrap .view_info_wrap dt{font-size: 18px; font-weight: 400; font-size: 18px; margin-bottom: 10px;}
.product_view .view_main_wrap .view_item_wrap .view_info_wrap dd{position: relative; font-size: 14px; line-height: 25px; margin: 0; padding-left: 13px;}
.product_view .view_main_wrap .view_item_wrap .view_info_wrap dd:before{content:''; display: block; position: absolute; left:0; top:11px; width: 3px; height: 3px; border-radius:50%; background:#000; }

.product_view .view_sub_wrap{width: 300px;}
.product_view .view_sub_wrap .box_wrap{padding: 35px 15px;}
.product_view .view_sub_wrap .box_wrap.fixed{position: fixed; top:0; width: 270px;}
.product_view .view_sub_wrap .box_wrap .option_wrap{margin-bottom: 20px;}
.product_view .view_sub_wrap .box_wrap .option_wrap .select{display: block; width: 100%; height: 45px; line-height: 45px; box-sizing: border-box; padding: 0 12px; padding-right: 45px; font-size: 15px; font-weight: bold; border:1px solid #999; appearance:none; background:#fff url(../images/ico_select.png) no-repeat right 12px center;}
.product_view .view_sub_wrap .box_wrap .option_wrap .select:first-child{margin-bottom: 6px;}
.product_view .view_sub_wrap .box_wrap .option_wrap .select:disabled{background-color:rgba(153, 153, 153, 0.2); color:#ccc;}
.product_view .view_sub_wrap .box_wrap .option_wrap .select option:disabled{background-color:rgba(153, 153, 153, 0.2); color:#ccc;}
.product_view .view_sub_wrap .box_wrap .select_list_wrap{max-height: calc(100vh - 586px); overflow: auto;}
.product_view .view_sub_wrap .box_wrap .select_list_wrap .list{position: relative; padding: 12px; background:#F6F6F6; margin-bottom: 3px;}
.product_view .view_sub_wrap .box_wrap .select_list_wrap .list:last-of-type{margin-bottom: 0;}
.product_view .view_sub_wrap .box_wrap .select_list_wrap .list .title{font-size: 15px; line-height: 20px; color:#666; padding-right: 25px;}
.product_view .view_sub_wrap .box_wrap .select_list_wrap .list .close{display: block; position: absolute; top:14px; right:12px; width: 15px; height: 15px; background:url(../images/ico_view_close.png) no-repeat 50% 50%;}
.product_view .view_sub_wrap .box_wrap .select_list_wrap .list .list_bot{display: flex; margin-top: 10px; justify-content: space-between; align-items: flex-end;}
.product_view .view_sub_wrap .box_wrap .select_list_wrap .list .list_num_wrap{display: flex;}
.product_view .view_sub_wrap .box_wrap .select_list_wrap .list .list_num_wrap > a{position: relative; display: block;width: 36px;height: 36px; box-sizing: border-box; border:1px solid #e6e6e6; background:#fff;}
.product_view .view_sub_wrap .box_wrap .select_list_wrap .list .list_num_wrap > a:before{display: block; content:'';position: absolute; top:calc(50% - 0.5px); left:calc(50% - 5px); width: 10px; height: 1px; background:#000;}
.product_view .view_sub_wrap .box_wrap .select_list_wrap .list .list_num_wrap > a:after{display: block; content:'';position: absolute; top:calc(50% - 5px); left:calc(50% - 0.5px); width: 1px; height: 10px; background:#000;}
.product_view .view_sub_wrap .box_wrap .select_list_wrap .list .list_num_wrap > a.hide:before{background:#e6e6e6;}
.product_view .view_sub_wrap .box_wrap .select_list_wrap .list .list_num_wrap > a.hide:after{background:#e6e6e6;}

.product_view .view_sub_wrap .box_wrap .select_list_wrap .list .list_num_wrap > a.minus{}
.product_view .view_sub_wrap .box_wrap .select_list_wrap .list .list_num_wrap > a.minus:after{width: 0;}
.product_view .view_sub_wrap .box_wrap .select_list_wrap .list .list_num_wrap > a.plus{}
.product_view .view_sub_wrap .box_wrap .select_list_wrap .list .list_num_wrap .num{display: block; width: 58px; height: 36px; box-sizing: border-box; border:1px solid #e6e6e6; border-left-width:0; border-right-width:0; text-align: center; font-size: 15px; appearance: none;}
.product_view .view_sub_wrap .box_wrap .select_list_wrap .list .list_num_wrap .num::-webkit-outer-spin-button,
.product_view .view_sub_wrap .box_wrap .select_list_wrap .list .list_num_wrap .num::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.product_view .view_sub_wrap .box_wrap .select_list_wrap .list .price{font-size: 16px;}
.product_view .view_sub_wrap .box_wrap .select_list_wrap .list .price span{font-weight: bold;}

.product_view .view_sub_wrap .box_wrap .list_total_wrap{display: flex; justify-content: space-between;padding: 20px 0;}
.product_view .view_sub_wrap .box_wrap .list_total_wrap .title{font-size: 15px;}
.product_view .view_sub_wrap .box_wrap .list_total_wrap .title span{font-size: 20px; font-weight: bold; color:#060032;}
.product_view .view_sub_wrap .box_wrap .list_total_wrap .price{font-size: 15px;}
.product_view .view_sub_wrap .box_wrap .list_total_wrap .price span{font-size: 20px; color:#060032; font-weight: bold;}

.product_view .view_sub_wrap .box_wrap .list_btn_wrap{display: flex; justify-content: space-between;}
.product_view .view_sub_wrap .box_wrap .list_btn_wrap button{display: block; width: 132px; height: 60px; line-height: 60px; box-sizing: border-box; text-align: center; font-size: 20px; font-weight: bold; border:1px solid #060032; background:#fff; cursor: pointer;}
.product_view .view_sub_wrap .box_wrap .list_btn_wrap button.buy{background:#060032; color:#fff;}
.product_view .view_sub_wrap .box_wrap .list_btn_wrap button.cart{background:#fff; color:#060032;}

/* 레이어 팝업 공통 */
.layout_wrap{visibility: hidden; opacity:0; transition: opacity .2s; }

.layout_wrap.show{visibility: visible; opacity: 1;}
.layout_wrap .dim{position: fixed; top:0; left: 0; z-index:1; width: 100%; height: 100vh; background:rgba(0, 0, 0, 0.7);}
.layout_wrap .layout_box{position: fixed; top:50%; left:50%; z-index:1; transform: translate(-50%, -50%); background:#fff;}
.layout_wrap .layout_box .layout_head{position: relative; line-height: 70px; padding: 0 20px; border-bottom:1px solid #e6e6e6;}
.layout_wrap .layout_box .layout_head .title{font-size: 20px; font-weight: bold; margin: 0; text-align:left;}
.layout_wrap .layout_box .layout_head .pop_close{display: block; position: absolute; top:calc(50% - 27px); right:3px; width: 54px; height: 54px; background:url(../images/ico_pop_close.png) no-repeat 50% 50%;}
.layout_wrap .layout_box .layout_body{padding: 20px;}
.layout_wrap .layout_box .layout_body .layout_qna_wrap{}
.layout_wrap .layout_box .layout_body .layout_qna_wrap dl{display: flex; align-items: center; margin: 0;margin-bottom: 15px;}
.layout_wrap .layout_box .layout_body .layout_qna_wrap dl:last-of-type{margin-bottom: 0;}
.layout_wrap .layout_box .layout_body .layout_qna_wrap dl dt{width: 100px; font-size: 15px;}
.layout_wrap .layout_box .layout_body .layout_qna_wrap dl dd{margin: 0; width:calc(100% - 100px);}
.layout_wrap .layout_box .layout_body .layout_qna_wrap dl dd .select{}
.layout_wrap .layout_box .layout_body .layout_qna_wrap dl dd .select select{display: block; min-width:100px; height:32px; line-height:32px; border:1px solid #e6e6e6; box-sizing: border-box; padding:0 25px 0 10px; appearance: none; background:url(../images/ico_select2.png) no-repeat right 10px center; font-size: 13px;}
.layout_wrap .layout_box .layout_body .layout_qna_wrap dl dd .input{width: 100%;}
.layout_wrap .layout_box .layout_body .layout_qna_wrap dl dd .input input{display: block; width: 100%; height:32px; line-height:32px; border:1px solid #e6e6e6; box-sizing: border-box; padding:0 10px; font-size: 13px;}
.layout_wrap .layout_box .layout_body .layout_qna_wrap dl dd .textarea{}
.layout_wrap .layout_box .layout_body .layout_qna_wrap dl dd .textarea textarea{display: block; width: 470px; height: 200px; line-height:32px; border:1px solid #e6e6e6; box-sizing: border-box; padding:10px; font-size: 13px; line-height: 20px; resize: none;}
.layout_wrap .layout_box .layout_body .layout_btn_wrap{display: flex; justify-content: center; padding-top: 20px;}
.layout_wrap .layout_box .layout_body .layout_btn_wrap a{display: block; width: 120px; height: 50px; line-height: 50px; text-align: center; background:#F6F6F6; color:#000; text-decoration: none; margin: 0 5px; font-size: 15px;}
.layout_wrap .layout_box .layout_body .layout_btn_wrap a.active{background:#060032; color:#fff; font-weight: bold;}
.layout_wrap.qnaInsert .layout_box .layout_body .layout_btn_wrap a.active:nth-child(2){display:none;}
.layout_wrap.qnaModify .layout_box .layout_body .layout_btn_wrap a.active:nth-child(1){display:none;}

.layout_wrap .layout_box .layout_body .layout_coupon_wrap{}
.layout_wrap .layout_box .layout_body .layout_coupon_wrap .coupon_list{margin: 0; padding: 0;width: 400px; max-height:250px; overflow:auto; min-height:150px;}
.layout_wrap .layout_box .layout_body .layout_coupon_wrap .coupon_list .list{border:1px solid #E3ECF5; list-style: none; margin-bottom: 10px;}
.layout_wrap .layout_box .layout_body .layout_coupon_wrap .coupon_list .list:last-of-type{margin-bottom: 0;}
.layout_wrap .layout_box .layout_body .layout_coupon_wrap .coupon_list .list a{display: block;color:#000; text-decoration: none;}
.layout_wrap .layout_box .layout_body .layout_coupon_wrap .coupon_list .list a .list_top{display: flex; align-items: center;
justify-content: space-between; padding: 0 10px; border-bottom:1px solid #E3ECF5;}
.layout_wrap .layout_box .layout_body .layout_coupon_wrap .coupon_list .list a .list_top .coupon_title{margin: 0; line-height: 40px; font-size: 14px; }
.layout_wrap .layout_box .layout_body .layout_coupon_wrap .coupon_list .list a .list_top .coupon_dday{margin: 0; font-size: 12px;}
.layout_wrap .layout_box .layout_body .layout_coupon_wrap .coupon_list .list a .list_bot{display: flex; line-height: 40px; font-size: 14px; padding: 0 10px;}
.layout_wrap .layout_box .layout_body .layout_coupon_wrap .coupon_list .list a .list_bot .coupon_txt{margin: 0;margin-right: 20px;}
.layout_wrap .layout_box .layout_body .layout_coupon_wrap .coupon_list .list a .list_bot .coupont_price{margin: 0; color:#060032;}
.layout_wrap .layout_box .layout_body .layout_coupon_wrap .coupon_list .list a .list_bot .coupont_price span{margin: 0; font-weight: bold; font-size: 16px;}

.layout_wrap .layout_box .layout_body .layout_coupon_wrap .coupon_list .list.on a{color:#fff}
.layout_wrap .layout_box .layout_body .layout_coupon_wrap .coupon_list .list.on a .list_top{background:#060032;}
.layout_wrap .layout_box .layout_body .layout_coupon_wrap .coupon_list .list.on a .list_bot{background:#060032;}
.layout_wrap .layout_box .layout_body .layout_coupon_wrap .coupon_list .list.on a .list_bot .coupont_price{color:#fff;}

.layout_wrap .layout_box .alert_wrap{padding:20px; min-width :260px;}
.layout_wrap .layout_box .alert_wrap .layout_title{font-size: 16px; color:#000; text-align: center; margin: 0;margin-bottom: 1px;}
.layout_wrap .layout_box .alert_wrap .auto_text{font-size: 12px; color:#e6e6e6; text-align: center; margin: 0;}
.layout_wrap .layout_box .alert_wrap .alert_btn{display: block; width: 60px; height: 30px; line-height: 30px; text-align: center; margin:0 auto; text-decoration: none; font-size: 14px; color:#fff; font-weight: bold; background: #060032; margin-top: 15px;}

.layout_wrap .layout_box .layout_body.type02{padding: 0;}
.layout_wrap .layout_box .layout_body .layout_review{width: 950px; display: flex;}
.layout_wrap .layout_box .layout_body .layout_review p{margin: 0;}
.layout_wrap .layout_box .layout_body .layout_review .slide_wrap{position: relative; width: 640px; height: 640px;background:#000000;}
.layout_wrap .layout_box .layout_body .layout_review .slide_wrap .slide_page{display:block; position: absolute; top:25px; left:0; width: 100%; height:24px; color:#fff; text-align: center;}
.layout_wrap .layout_box .layout_body .layout_review .slide_wrap .slide_page span{font-size: 13px; color:#fff;}
.layout_wrap .layout_box .layout_body .layout_review .slide_wrap .slide_page span.swiper-pagination-current{font-weight: bold;}
.layout_wrap .layout_box .layout_body .layout_review .slide_wrap .swiper{top:50%; transform:translateY(-50%);}
.layout_wrap .layout_box .layout_body .layout_review .slide_wrap .swiper img{width: 100%; height:518px;}
.layout_wrap .layout_box .layout_body .layout_review .review_info_wrap{width:calc(100% - 640px); padding: 25px; box-sizing: border-box;}
.layout_wrap .layout_box .layout_body .layout_review .review_info_wrap .review_id{font-size: 14px; color:#000; font-weight: bold; margin-bottom: 5px;}
.layout_wrap .layout_box .layout_body .layout_review .review_info_wrap .review_id .info{color:#999; font-weight: 400; margin-left: 5px;}
.layout_wrap .layout_box .layout_body .layout_review .review_info_wrap .review_date{font-size: 13px; color:#666; margin-bottom: 12px;}
.layout_wrap .layout_box .layout_body .layout_review .review_info_wrap .review_star{display: flex; margin-bottom: 10px;}
.layout_wrap .layout_box .layout_body .layout_review .review_info_wrap .review_star .star{width: 20px; height: 20px; background:url(../images/ico_star.png) no-repeat 50% 50%; margin-right: 5px;}
.layout_wrap .layout_box .layout_body .layout_review .review_info_wrap .review_star .star.on{background-image:url(../images/ico_star_on.png);}
.layout_wrap .layout_box .layout_body .layout_review .review_info_wrap .review_option{font-size: 13px; color:#999;margin-bottom: 15px;}
.layout_wrap .layout_box .layout_body .layout_review .review_txt_box{padding: 15px 0;border-top:1px solid #e6e6e6;}
.layout_wrap .layout_box .layout_body .layout_review .review_txt_box p{font-size: 15px; line-height: 22px;}













