.table_wrap > table > tbody > tr > td{text-align: center; vertical-align: middle;}
.table_wrap > table > tbody > tr > td:last-child > input{border:none;}
.table_wrap > table > tbody > tr > td > img{max-height:70px;}