<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/mypage/myBoard_refund.css" rel="stylesheet"></link>
    <link href="/css/common/paging.css" rel="stylesheet" >
    <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
    <!-- csrf 토큰 -->
    <meta name="_csrf" th:content="${_csrf.token}"/>
	<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>내가 쓴 글</title>
<body>
    <div th:replace="common/header.html"></div>
	<div th:replace="mypage/sideMenu.html"></div>
    <div class="outer">
        <div class="menu">
        	<ul class="board_menuList">
        		<li class="pQna">상품문의</li>
        		<li class="review">리뷰</li>
        		<li class="qna">1:1 문의</li>
        		<li class="ex_ref">교환/환불</li>
        	</ul>
        </div>
        
		 <div class="board_area" id="ref_List">
             <div class="ex_ref_menu">
             	<ul class="ex_ref_list">
             		<li id="ex_li">교환내역</li>
             		<span>/</span>
             		<li id="ref_li">환불내역</li>
             	</ul>
             </div>

			<th:block th:if="${#lists.size(r_list) > 0}">
            <div class="board_list">
                <ul class="board_header">
                    <li class="b_orderno">글번호</li>
                    <li class="b_pname">상품명</li>
                    <li class="b_date">등록일</li>
                    <li class="b_status">상태</li>
                </ul>

                <ul class="board_content" th:each="r : ${ r_list }" th:attr="onclick=|refundDetail('${r.order_option_code}')|">
                    <li class="b_orderno" th:text="${ r.ref_no }"></li>
                    <li class="b_pname" th:text="${ r.p_name }"></li>
                    <li class="b_date" th:text="${#dates.format(r.ref_date, 'yyyy-MM-dd')}"></li>
                    <li class="b_status" th:if="${ r.ref_status == 'N'}" th:text="환불요청"></li>
                    <li class="b_status" th:if="${ r.ref_status == 'Y'}" th:text="환불완료"></li>
                </ul>
            </div>
            </th:block>
            <th:block th:if="${#lists.size(r_list) == 0}">
            	<div class="null_list">
            		<img id="null" src="/images/nolist.png">
            		<div>작성한 글이 없습니다.</div>
            	</div>
            </th:block>
            
            <!-- 페이징 -->
            <div class="pagaing_wrap" th:if="${#lists.size(r_list) > 0}">
	            <ul class="pagaing_left">
	                <li class="allPrev" th:classappend="${pi.page == 1} ? 'hide'">
	                	<a th:href="@{/mypage/myBoard_refund/(page=1)}" th:if="${pi.page > 1}"></a>
	                 <a href="javascript:;" th:unless="${pi.page > 1}"></a>
	                </li>
	                <li class="prev" th:classappend="${pi.page == 1} ? 'hide'">
	                 <a th:href="@{/mypage/myBoard_refund/(page=${pi.page - 1})}" th:if="${pi.page > 1}"></a>
	                	<a href="javascript:;" th:unless="${pi.page > 1}"></a>
	                </li>
	            </ul>
	            
	            <ul class="pagaing_num">
	            	<th:block th:each="pd : ${#numbers.sequence(pi.startPage, pi.endPage)}">
	            		<li th:classappend="${pi.page == pdStat.current} ? 'on'">
	            			<a th:href="@{/mypage/myBoard_refund/(page=${pdStat.current})}" th:text="${pdStat.current}"></a>
	            		</li>
	            	</th:block>
	                
	            </ul>
	
	            <ul class="pagaing_right" >
	                <li class="next" th:classappend="${pi.page == pi.maxPage} ? 'hide'">
	                	<a th:href="@{/mypage/myBoard_refund/(page=${pi.page} + 1)}" th:if="${pi.page < pi.maxPage}"></a>
	                	<a href="javascript:;" th:unless="${pi.page < pi.maxPage}"></a>
	                </li>
	                <li class="allNext"  th:classappend="${pi.page == pi.maxPage} ? 'hide'">
	                	<a th:href="@{/mypage/myBoard_refund/(page=${pi.maxPage})}" th:if="${pi.page < pi.maxPage}"></a>
	                	<a href="javascript:;" th:unless="${pi.page < pi.maxPage}"></a>
	                </li>
	            </ul>
            </div>
         </div>
 
    </div>
	<div th:replace="common/footer.html"></div>
    
    <!-- 게시글 리스트 마우스오버 이벤트 -->
    <script>
        const boardlist = document.querySelectorAll(".board_list");

        for(var i = 0; i < boardlist.length; i++) {
            var item = boardlist.item(i);

            item.addEventListener('mouseover', function(){

            if(event.target.classList.contains('board_content'))
            event.target.classList.add('onmouseover');
            else if(event.target.parentNode.classList.contains('board_content'))
            event.target.parentNode.classList.add('onmouseover');
            });

            item.addEventListener('mouseout', function(){
            
            if(event.target.classList.contains('board_content'))
            event.target.classList.remove('onmouseover');
            else if(event.target.parentNode.classList.contains('board_content'))
            event.target.parentNode.classList.remove('onmouseover');
            });   
        }
    </script>
    
    <!-- 페이지 이동 -->
    <script>
    	// 상품문의
    	$(".pQna").on("click", function(){
    		location.href="/mypage/myBoard_pqna";
    	});  
    	
    	// 리뷰
    	$(".review").on("click", function(){
    		location.href="/mypage/myBoard_review";
    	}); 
    	
    	// 1:1 문의
    	$(".qna").on("click", function(){
    		location.href="/mypage/myBoard_qna";
    	});  
    	 
    	// 교환
    	$("#ex_li").on("click", function(){
    		location.href="/mypage/myBoard_exchange";
    	});  
    </script>
    
    <!-- 환불 상세 (새창) -->
    <script>
		function refundDetail(p_order_option_code){
			var order_option_code = p_order_option_code;
			var popupWidth = 900;
			var popupHeight = 650;
	
			var popupX = (window.screen.width / 2) - (popupWidth / 2);
			var popupY= (window.screen.height / 2) - (popupHeight / 2);
			
			window.open("/mypage/refundDetail/" +order_option_code, "환불요청 내역", 'status=no, height=' + popupHeight  + ', width=' + popupWidth  + ', left='+ popupX + ', top='+ popupY)
		}
    </script>
</body>
</head>