<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/mypage/orderList.css" rel="stylesheet"></link>
    <link href="/css/common/paging.css" rel="stylesheet" >
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <!-- csrf 토큰 -->
    <meta name="_csrf" th:content="${_csrf.token}"/>
	<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>주문내역</title>
</head>
<body>
    <div th:replace="common/header.html"></div>
 	<div th:replace="mypage/sideMenu.html"></div>
    <div class="outer">
        <div class="title">주문내역(<span th:text="${#lists.size(po_list)}"></span>)</div>
    	
    	<div class="info_search_area">
    		<div class="info_area">
    			<div class="delivery_count">
    				<div class="img_count">
   						<img src="/images/delivery.png">
   						<div class="status_count">배송중</div>
  					</div>
  					<div id="count" th:text="${del_cnt}"></div>
    			</div>
    			
    			<div class="delivery_complete_count">
    				<div class="img_count">
   						<img src="/images/complete.png">
   						<div class="status_count">배송완료</div>
  					</div>
  					<div id="count" th:text="${del_complete_cnt}"></div>
    			</div>
    			
    			<div class="cancle_count">
    				<div class="img_count">
   						<img src="/images/cancle.png">
   						<div class="status_count">취소/교환/환불</div>
  					</div>
  					<div id="count" th:text="${cancle_cnt}"></div>
    			</div>
    			
    		</div>
    		

    	</div>
    	
        <div class="info">
            <p>
            주문취소는 결제완료 상태일때만 가능하며 판매자가 배송을 시작하면 주문취소할 수 없습니다.<br>
            교환/환불 신청은 주문일로부터 7일이내에 가능합니다.<br>
            주문일로부터 7일이 지나면 자동으로 구매확정 됩니다.
            </p>
        </div>

        <div class="order_list">
            <ul class="ul_header">
                <li class="pname">상품명</li>
                <li class="price">주문금액(수량)</li>
                <li class="order_no">주문번호</li>
                <li class="date">주문일자</li>
                <li class="pstatus">주문상태</li>
            </ul>

            <ul class="ul_content" th:each="p : ${po_list}">
                <li class="pname">
                	<a th:href="@{'/product/view/' + ${p.p_no}}">
                    <div class="pname_area">
                        <img th:src="@{${p.route} + ${p.img_r_name}}">
                        <div class="p_info">
                            <div id="pname" th:text="${p.p_name}"></div>
                            <div id="option">
                            	<span>옵션 : </span>
                            	<span th:text="${p.p_color}"></span>
                            	<span th:text="${p.p_size}"></span>
                            </div>
                        </div>
                    </div>
                    </a>
                </li>
                <li class="price">
                	<span id="origin_price" th:text="|${p.p_price}원|"></span><br>
                    <span id="discount_price" th:text="|${p.p_price * (100 - p.p_discount) / 100}원|"></span><br>
                    <span th:text="|${p.order_product_num}개|"></span>
                </li>
                <li class="order_no">
                    <span th:text="${p.order_code}"></span><br>
                    <button type="button" id="order_info" th:attr="onclick=|orderInfo('${p.order_option_code}')|">주문상세</button>
                </li>
                <li class="date" th:text="${#dates.format(p.order_create_date, 'yyyy-MM-dd')}"></li>
                <li class="pstatus">
                    <div class="status_box">
                        <div class="status_info">
                            <div id="status" th:text="${p.order_status_name}"></div>
                            <th:block th:if="${p.order_status_name == '결제완료'}">
                            <button id="decide_btn" th:attr="onclick=|canclePay('${p.merchant_uid}', ${p.pay_money})|">주문취소</button>
                            </th:block>
                            <th:block th:if="${p.order_status_name == '배송중'}">	
                            <button id="decide_btn" th:attr="onclick=|delivery('${p.order_option_code}')|">배송조회</button>
                            </th:block>
                            <th:block th:if="${p.order_status_name == '배송완료'}">
                            <button id="decide_btn" th:attr="onclick=|decide_buy('${p.order_option_code}')|">구매확정</button><br>
                            <button id="exchange" th:attr="onclick=|exchange('${p.order_option_code}')|">교환신청</button><br>
                            <button id="refund" th:attr="onclick=|refund('${p.order_option_code}')|">환불신청</button>
                            </th:block>                         
                        </div>
                        
                        <div class="review_info">
                        	<th:block th:if="${p.order_status_name == '구매확정' and p.r_no == 0}">
                            <button id="review_btn" th:attr="onclick=|insert_review('${p.order_option_code}')|">리뷰등록</button>
                            </th:block>
                            <th:block th:if="${p.order_status_name != '구매확정'}">
                            <button id="disable_review_btn" th:attr="onclick=|disable_review()|" >리뷰등록</button>
                            </th:block>
                            <th:block th:if="${p.r_no != 0}">
                            <button id="review_detail" th:if="${p.r_status == 'Y'}" th:attr="onclick=|reviewDetail('${p.order_option_code}', '${p.r_status}')|">리뷰확인</button>
                            <button id="review_detail" th:if="${p.r_status == 'N'}" th:attr="onclick=|reviewDetail('${p.order_option_code}', '${p.r_status}')|">리뷰등록 불가</button>
                            </th:block>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
            <!-- 페이징 -->
            <div class="pagaing_wrap" th:if="${#lists.size(po_list) > 0}">
	            <ul class="pagaing_left">
	                <li class="allPrev" th:classappend="${pi.page == 1} ? 'hide'">
	                	<a th:href="@{/mypage/orderList/(page=1)}" th:if="${pi.page > 1}"></a>
	                 <a href="javascript:;" th:unless="${pi.page > 1}"></a>
	                </li>
	                <li class="prev" th:classappend="${pi.page == 1} ? 'hide'">
	                 <a th:href="@{/mypage/orderList/(page=${pi.page - 1})}" th:if="${pi.page > 1}"></a>
	                	<a href="javascript:;" th:unless="${pi.page > 1}"></a>
	                </li>
	            </ul>
	            
	            <ul class="pagaing_num">
	            	<th:block th:each="pd : ${#numbers.sequence(pi.startPage, pi.endPage)}">
	            		<li th:classappend="${pi.page == pdStat.current} ? 'on'">
	            			<a th:href="@{/mypage/orderList/(page=${pdStat.current})}" th:text="${pdStat.current}"></a>
	            		</li>
	            	</th:block>
	                
	            </ul>
	
	            <ul class="pagaing_right" >
	                <li class="next" th:classappend="${pi.page == pi.maxPage} ? 'hide'">
	                	<a th:href="@{/mypage/orderList/(page=${pi.page} + 1)}" th:if="${pi.page < pi.maxPage}"></a>
	                	<a href="javascript:;" th:unless="${pi.page < pi.maxPage}"></a>
	                </li>
	                <li class="allNext"  th:classappend="${pi.page == pi.maxPage} ? 'hide'">
	                	<a th:href="@{/mypage/orderList/(page=${pi.maxPage})}" th:if="${pi.page < pi.maxPage}"></a>
	                	<a href="javascript:;" th:unless="${pi.page < pi.maxPage}"></a>
	                </li>
	            </ul>
            </div>
    </div>
	<div th:replace="common/footer.html"></div>
	
	<!-- 리뷰등록불가 -->
	<script>
		function disable_review(){
			alert("구매확정 이전에는 리뷰를 등록할 수 없습니다.");
		}
	</script>
	
	<!-- 배송조회 -->
	<script>
		function delivery(order_option_code){			
			var token = $("meta[name='_csrf']").attr("content");
    		var header = $("meta[name='_csrf_header']").attr("content"); 
    		
    		$.ajax({
    			url : "/mypage/readDelivery",
    			type : 'post',
    			data : {'order_option_code' : order_option_code},
    			/* 데이터를 전송하기 전에 헤더에 csrf값을 설정 */
				beforeSend : function(xhr)		
				{
					xhr.setRequestHeader(header, token);    					
				},
				success : function(data){
					if(data) {
						alert("택배사 : Clendy택배\n운송장 번호 : " + data);
					} else
						alert("운송장 번호 조회 실패!");			
				},
				error : function(e){
					console.log(e);
				}
    		});
		}
	</script>
	
	<!-- 구매확정 -->
	<script>
		function decide_buy(order_option_code){
			if(!confirm('구매를 확정하시겠습니까? \n구매확정 이후에는 교환/반품이 불가합니다.')) return;
			
			var token = $("meta[name='_csrf']").attr("content");
    		var header = $("meta[name='_csrf_header']").attr("content"); 
    		
    		$.ajax({
    			url : "/mypage/decide_buy",
    			type : 'post',
    			data : {'order_option_code' : order_option_code},
    			/* 데이터를 전송하기 전에 헤더에 csrf값을 설정 */
				beforeSend : function(xhr)		
				{
					xhr.setRequestHeader(header, token);    					
				},
				success : function(result){
					if(result > 0) {
						alert("구매확정이 완료되어 구매확정 포인트가 적립되었습니다. \n리뷰를 남겨주세요.");
						location.reload();
					} else
						alert("구매확정 실패!");			
				},
				error : function(e){
					console.log(e);
				}
    		});
		}
	</script>
	<!-- 리뷰 확인 -->
	<script>
		function reviewDetail(order_option_code, r_status){
			if(r_status == 'N') {
				alert("리뷰가 삭제되어 리뷰를 재등록할 수 없습니다.");
				return;
			}
			
			var popupWidth = 900;
			var popupHeight = 650;
	
			var popupX = (window.screen.width / 2) - (popupWidth / 2);
			var popupY= (window.screen.height / 2) - (popupHeight / 2);
			
			window.open("/mypage/reviewDetail/" +order_option_code, "리뷰 상세", 'status=no, height=' + popupHeight  + ', width=' + popupWidth  + ', left='+ popupX + ', top='+ popupY)
		}
	</script>
	
	<!-- 리뷰 등록 -->
	<script>
		function insert_review(order_option_code){
			var popupWidth = 900;
			var popupHeight = 650;
	
			var popupX = (window.screen.width / 2) - (popupWidth / 2);
			var popupY= (window.screen.height / 2) - (popupHeight / 2);
			
			window.open("/mypage/reviewInsert/" +order_option_code, "리뷰 등록", 'status=no, height=' + popupHeight  + ', width=' + popupWidth  + ', left='+ popupX + ', top='+ popupY)
		}
	</script>
		
	<script>
		const msg = '[[${ msg }]]';
		
		if(msg){
			alert(msg);
			if(msg == "리뷰가 등록되어 포인트 200원 적립되었습니다."){
				window.opener.location.href = window.opener.document.URL;
				window.close();
			}
		}
		
	</script>
	
	<!-- 주문상세 -->
	<script>
		function orderInfo(order_option_code){
			var popupWidth = 500;
			var popupHeight = 580;
	
			var popupX = (window.screen.width / 2) - (popupWidth / 2);
			var popupY= (window.screen.height / 2) - (popupHeight / 2);
			
			window.open("/mypage/orderInfo/" +order_option_code, "주문상세", 'status=no, height=' + popupHeight  + ', width=' + popupWidth  + ', left='+ popupX + ', top='+ popupY)
		}
		
	</script>

	<!-- 교환신청 -->
	<script>
		function exchange(order_option_code){
			var popupWidth = 900;
			var popupHeight = 600;
	
			var popupX = (window.screen.width / 2) - (popupWidth / 2);
			var popupY= (window.screen.height / 2) - (popupHeight / 2);
			
			window.open("/mypage/exchange/" +order_option_code, "교환신청", 'status=no, height=' + popupHeight  + ', width=' + popupWidth  + ', left='+ popupX + ', top='+ popupY);
		}
	</script>
	
	<!-- 환불신청 -->
	<script>
		function refund(order_option_code){
			var popupWidth = 900;
			var popupHeight = 600;
	
			var popupX = (window.screen.width / 2) - (popupWidth / 2);
			var popupY= (window.screen.height / 2) - (popupHeight / 2);
			
			window.open("/mypage/refund/" +order_option_code, "환불신청", 'status=no, height=' + popupHeight  + ', width=' + popupWidth  + ', left='+ popupX + ', top='+ popupY)
		
		}
	</script>
	
	<!-- 결제취소 -->
	<script>
		function canclePay(merchant_uid, pay_money){
			if(!confirm("주문을 취소하시겠습니까? \n동일 결제건에 대한 모든 주문이 모두 취소됩니다. \n취소를 원하지 않는 상품은 결제 취소후 재주문해주시길 바랍니다.")) return;
			
			var token = $("meta[name='_csrf']").attr("content");
    		var header = $("meta[name='_csrf_header']").attr("content"); 
			
		    $.ajax({
		        url: "/mypage/canclePay", // 예: http://www.myservice.com/payments/cancel
		        type: 'post',
		        contentType: "application/json",
		        data: JSON.stringify({
		          "merchant_uid": merchant_uid, 
		          "pay_money": pay_money, // 환불금액
		          "reason": "테스트 결제 환불" // 환불사유
		        }),
    			/* 데이터를 전송하기 전에 헤더에 csrf값을 설정 */
				beforeSend : function(xhr)		
				{
					xhr.setRequestHeader(header, token);    					
				},
		        success : function(result) {
		        	if(result > 0){
		        		alert("결제가 취소되어 환불이 완료되었습니다.");
		        		location.reload();
		        	} else {
		        		alert("결제 취소에 오류가 발생했습니다. 다시 시도해주세요.");
		        		location.reload();
		        	}
		        }, 
		        error : function(e)	{
		        	console.log(e);
		        }
		      });
		}
	</script>
</body>
</html>













