<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/mypage/point.css" rel="stylesheet"></link>
    <link href="/css/common/paging.css" rel="stylesheet" >
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <title>포인트</title>
</head>
<body>
    <div th:replace="common/header.html"></div>
	<div th:replace="mypage/sideMenu.html"></div>
    <div class="outer">
	    <div class="event-point-wrapper">
		    		<span id="title">다운 가능한 이벤트 포인트</span>
		    	<div class="event-point-title">
				<ul class="th"><li class="event-content">내용</li><li class="event-point">금액</li><li class="event-download">다운</li></ul>
		    	</div>
		    	<th:block th:if="${#lists.size(event_point_list) == 0}">
		    		<div class="null">
	                	<img class="nowish" src="/images/nowish.png"><br>
	           			<span>다운 가능한 이벤트 포인트가 없습니다.</span>
	               </div>
		    	</th:block>
		    	<th:block th:if="${event_point_list} != null">
		    	<form th:action="@{/mypage/point/download}" method="post">
		    		<div class="event-detail" th:each="event : ${event_point_list}">
		    		<input type="hidden" name="point_code" th:value="${event.point_code}">
		    		<input type="hidden" name="point_content" th:value="${event.point_content}">
		    		<input type="hidden" name="point_amount" th:value="${event.point_amount}">
		    		<ul>
		    		<li class="event-content" th:text="${event.point_content}"></li>
			    	<li class="event-point" th:text="${event.point_amount}"></li>
			    	<li class="event-download"><input type="submit" value="다운"></li>
		    		</ul>
		    		</div>
		    	</form>
		    	</th:block>
	    	</div>
	    		    
        <div class="title">
            <span id="title">포인트 상세내역</span>
        </div>

        <div class="point_area">
            <div class="point_title">
                <div>포인트</div>
                <div id="point" th:if="${#lists.size(point_list) != 0}" th:text="|${total_point}원|"></div>
                <div id="point" th:if="${#lists.size(point_list) == 0}" th:text="0원"></div>
            </div>
            
            <div class="point_list">
                <ul class="point_header">
                	<li class="p_no">번호</li>
                    <li class="status">상태</li> 
                    <li class="point">포인트</li>
                    <li class="info">적립 내용</li>
                    <li class="date">적용 일시</li>
                </ul>
			
                <ul class="point_content" th:each="p : ${point_list}">
                	<li class="p_no" th:text="${p.point_no}"></li>
                    <li class="status" th:if="${p.point_status} == 1" th:text="적립" style="color: blue;"></li>
                    <li class="status" th:if="${p.point_status} == 2" th:text="차감" style="color: red;"></li>
                    <li class="point" th:text="|+${p.point}|" th:if="${p.point_status} == 1" style="color: blue;"></li>
                    <li class="point" th:text="|${p.point}|" th:if="${p.point_status} == 2" style="color: red;"></li>
                    <li class="info">
                    	<div>
                    		<span th:text="${p.point_content}"></span><br>
          					<span th:if="${p.rec_user != null}" th:text="|(추천인 : ${p.rec_user})|"></span>
                    	</div>
          			</li>
                    <li class="date" th:text="${#dates.format(p.point_date, 'yyyy-MM-dd')}"></li>
                </ul>
            </div>
            
            <!-- 페이징 -->
            <div class="pagaing_wrap" th:if="${#lists.size(point_list) > 0}">
	            <ul class="pagaing_left">
	                <li class="allPrev" th:classappend="${pi.page == 1} ? 'hide'">
	                	<a th:href="@{/mypage/point/(page=1)}" th:if="${pi.page > 1}"></a>
	                 <a href="javascript:;" th:unless="${pi.page > 1}"></a>
	                </li>
	                <li class="prev" th:classappend="${pi.page == 1} ? 'hide'">
	                 <a th:href="@{/mypage/point/(page=${pi.page - 1})}" th:if="${pi.page > 1}"></a>
	                	<a href="javascript:;" th:unless="${pi.page > 1}"></a>
	                </li>
	            </ul>
	            
	            <ul class="pagaing_num">
	            	<th:block th:each="pd : ${#numbers.sequence(pi.startPage, pi.endPage)}">
	            		<li th:classappend="${pi.page == pdStat.current} ? 'on'">
	            			<a th:href="@{/mypage/point/(page=${pdStat.current})}" th:text="${pdStat.current}"></a>
	            		</li>
	            	</th:block>
	                
	            </ul>
	
	            <ul class="pagaing_right" >
	                <li class="next" th:classappend="${pi.page == pi.maxPage} ? 'hide'">
	                	<a th:href="@{/mypage/point/(page=${pi.page} + 1)}" th:if="${pi.page < pi.maxPage}"></a>
	                	<a href="javascript:;" th:unless="${pi.page < pi.maxPage}"></a>
	                </li>
	                <li class="allNext"  th:classappend="${pi.page == pi.maxPage} ? 'hide'">
	                	<a th:href="@{/mypage/point/(page=${pi.maxPage})}" th:if="${pi.page < pi.maxPage}"></a>
	                	<a href="javascript:;" th:unless="${pi.page < pi.maxPage}"></a>
	                </li>
	            </ul>
            </div>
        </div>

    </div>
	<div th:replace="common/footer.html"></div>

</body>
</html>