<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script> 
    <!-- csrf -->
    <meta name="_csrf" th:content="${_csrf.token}">
	<meta name="_csrf_header" th:content="${_csrf.headerName}">
    <link href="/css/mypage/refundForm.css" rel="stylesheet"></link>
    <script>
		const msg = '[[${ msg }]]';
		
		if(msg){
			alert(msg);
			if(msg == "환불 신청이 완료되었습니다."){
				window.opener.location.href = window.opener.document.URL;
				window.close();
			}
		}
		
	</script>
    <title>환불 신청</title>
</head>
<body>
    <div class="outer">
        <div class="title">환불 신청</div>
        
        <div class="product">
            <ul class="ul_header">
                <li id="order_no">주문번호</li>
                <li id="p_info">상품명</li>
                <li id="p_price">주문금액(수량)</li>
            </ul>
            <ul class="ul_content">
                <li id="order_no" th:text="${o.order_code}"></li>
                <li id="p_info">
                    <img th:src="@{${o.route} + ${o.img_r_name}}">
                    <div>
                        <span id="pname" th:text="${o.p_name}"></span><br>
                        <span id="option">옵션 : 
                        	<span id="color" th:text="${o.p_color}"></span>
                        	<span id="size" th:text="|, ${o.p_size}|"></span>
                        </span>
                    </div>
                </li>
                <li id="p_price">
                    <span th:text="${o.p_price}"></span><br>
                    <span th:text="|${o.order_product_num}개|"></span>
                </li>
            </ul>
        </div>
		
		<form id="refundForm" th:action="@{/mypage/requestRefund(${_csrf.parameterName}=${_csrf.token})}" method="post">
		<input type="hidden" name="order_option_code" th:value="${o.order_option_code}">
		<input type="hidden" name="ref_price" th:value="${o.subtotal}">
        <div class="input_area">
            <div class="option_area">
                <span>사유선택</span><span id="required">*</span>
                <select name="ref_id" required>
                    <option value="none" disabled>환불사유를 선택해주세요</option>
                    <option value="1">상품파손,오배송(판매자귀책)</option>
                    <option value="2">구매자 변심</option>
                </select>
            </div>

            <div class="reason_area">
                <div>
                    <span>사유입력</span><br>
                    <span id="length">0</span><span> / 100자</span>
                </div>
                <textarea name="ref_reason" id="ref_reason" placeholder="환불사유를 입력해주세요(선택사항)"></textarea>
            </div>
        </div>

        <div class="refund_price">
            <span>환불 예정 금액 : </span>
            <span id="ref_price" th:text="|${o.subtotal}원|"></span>
        </div>

        <div class="refund_rule">
            <p>
                변심반품/교환 제품의 하자나 불량이 아닌 변심건의 경우 왕복배송비를 고객부담으로 하며,<br>
                제품 포장시 왕복배송비 5000원을 동봉해주셔야 교환/반품처리가 진행됩니다.<br>
                제품 및 포장 상태가 재판매 가능하여야 합니다.<br>
                환불승인 후 영업일 기준 3~7일 이내 환불 및 취소여부 확인 가능합니다.
                상품 불량확정 시 배송비를 포함한 전액이 환불됩니다.<br>
                상품가치가 훼손된 경우 교환/반품이 불가합니다. (제품포장 개봉 및 주문제작상품 / 밀봉포장상품 및 스티커부착 상품 / 텍 제거상품 / 식품 등)
                출고 이후 환불요청 시 상품 회수 후 처리됩니다.<br>
                교환/환불에 대한 브랜드 개별기준이 있는 경우에는 해당 내용이 우선 적용 됩니다.
            </p>
        </div>

        <div class="btn_area">
            <button type="button" onclick="refund()">환불신청</button>
            <button type="button" onclick="cancle()">취소</button>
        </div>
        </form>
    </div>
    
    <script>
		function cancle(){
			window.close();
		}
    </script>
    
    <!-- 교환신청 유효성 -->
    <script>
	    function refund(){
			var form = $("#refundForm");
			var content = $("#ref_reason");
			
			if(content.val().length > 100){
				alert('사유입력은 100자 이내로 가능합니다.');
				content.focus();
				return;	
			}
			
			if(!confirm('환불신청은 취소되지 않습니다. \n환불신청을 완료하시겠습니까?')) return;
			form.submit();
			
		}
	    
	    ref_reason.addEventListener('input', () => {  });
	    
		$("#ref_reason").keyup(function(){
			var content = $(this).val();
			
			$("#length").html(content.length);
			if(content.length > 100){
				$("#length").css("color", "red");
			} else {
				$("#length").css("color", "blue");
			}
		});
    </script> 
    
    
</body>
</html>