<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/mypage/wishlist.css" rel="stylesheet"></link>
    <link href="/css/common/paging.css" rel="stylesheet" >
    <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
    <!-- csrf 토큰 -->
    <meta name="_csrf" th:content="${_csrf.token}"/>
	<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>위시리스트</title>
</head>
<body>
    <div th:replace="common/header.html"></div>
	<div th:replace="mypage/sideMenu.html"></div>
    <div class="wishlist">
        <div class="title">
            <span>위시리스트</span><br>
            <ul class="wish_type">
            	<li>아우터</li>
            	<li>상의</li>
            	<li>하의</li>
            	<li style="color:black; font-size:large;">ACC</li>
            </ul>
        </div>
		<div id="wrap_wish">
			<div class="wish_div" id="WishList">
	        	<th:block th:if="${acc_list != null}">
	            <ul class="wish_list" th:each="acc : ${acc_list.product_list}">
	                <li>
	                    <div class="product">
	                    	<div class="product_in">
		                   		<a th:href="@{'/product/view/' + ${acc.p_no}}">
		                        <img th:src="@{${acc.imageList[0].route} + ${acc.imageList[0].imgrName}}">
		                        </a>
		                        <div class="p_info">
		                        <a th:href="@{'/product/view/' + ${acc.p_no}}">
		                            <div class="name" th:text="${acc.p_name}"></div>
		                            <div class="price" th:text="|${acc.p_price}원|"></div>
		                        </a>
		                        </div>
	                        </div>
	                        <button type="button" id="delete" th:value="${acc.p_no}">삭제</button>
	                    </div>
	                </li>
	            </ul>
	            </th:block>
	            <th:block th:if="${acc_list == null}">
	            	<div class="null">
	            	    <img class="nowish" src="/images/nowish.png"><br>
	            		<span>위시리스트에 담긴 상품이 없습니다.</span>
	            	</div>
	            </th:block>
	        </div>
	        
        	<!-- 페이징 -->
        	<th:block th:if="${acc_list != null}">
            <div class="pagaing_wrap" th:if="${#lists.size(acc_list) > 0}">
	            <ul class="pagaing_left">
	                <li class="allPrev" th:classappend="${pi.page == 1} ? 'hide'">
	                	<a th:href="@{/mypage/wishlistACC/(page=1)}" th:if="${pi.page > 1}"></a>
	                 <a href="javascript:;" th:unless="${pi.page > 1}"></a>
	                </li>
	                <li class="prev" th:classappend="${pi.page == 1} ? 'hide'">
	                 <a th:href="@{/mypage/wishlistACC/(page=${pi.page - 1})}" th:if="${pi.page > 1}"></a>
	                	<a href="javascript:;" th:unless="${pi.page > 1}"></a>
	                </li>
	            </ul>
	            
	            <ul class="pagaing_num">
	            	<th:block th:each="pd : ${#numbers.sequence(pi.startPage, pi.endPage)}">
	            		<li th:classappend="${pi.page == pdStat.current} ? 'on'">
	            			<a th:href="@{/mypage/wishlistACC/(page=${pdStat.current})}" th:text="${pdStat.current}"></a>
	            		</li>
	            	</th:block>
	                
	            </ul>
	
	            <ul class="pagaing_right" >
	                <li class="next" th:classappend="${pi.page == pi.maxPage} ? 'hide'">
	                	<a th:href="@{/mypage/wishlistACC/(page=${pi.page} + 1)}" th:if="${pi.page < pi.maxPage}"></a>
	                	<a href="javascript:;" th:unless="${pi.page < pi.maxPage}"></a>
	                </li>
	                <li class="allNext"  th:classappend="${pi.page == pi.maxPage} ? 'hide'">
	                	<a th:href="@{/mypage/wishlistACC/(page=${pi.maxPage})}" th:if="${pi.page < pi.maxPage}"></a>
	                	<a href="javascript:;" th:unless="${pi.page < pi.maxPage}"></a>
	                </li>
	            </ul>
            </div>
            </th:block>
		</div>													
    </div>
	<div th:replace="common/footer.html"></div>

	<!-- 카테고리 전환 -->
    <script>
 
    </script>
    
    <!-- 위시리스트 삭제 -->
    <script>
    	$(function(){
    		$(document).on("click", '#delete', function(){
    			if(!confirm("위시리스트에서 삭제하시겠습니까?")) return;
    			var p_no = $(this).val();
        		var token = $("meta[name='_csrf']").attr("content");
        		var header = $("meta[name='_csrf_header']").attr("content"); 
    			
    			$.ajax({
    				url : "/mypage/deleteWish",
    				type : "post",
    				data : {p_no:p_no},  
    				/* 데이터를 전송하기 전에 헤더에 csrf값을 설정 */
    				beforeSend : function(xhr)		
    				{
    					xhr.setRequestHeader(header, token);    					
    				},
    				success : function(result){
    					if(result > 0) {
    						alert("위시리스트에서 삭제되었습니다.");
    						location.reload();
    				}	else 
    						alert("위시리스트 삭제에 실패했습니다.");
    				},
    				error : function(e){
    					console.log(e);
    				}
    			});
    		});    		
    	});
    </script>
    
    <!-- 위시리스트 카테고리 -->
    <script>
    	$(document).on('click', '.wish_type li', function(){
    		var category = $(this).text();
    		
    		if(category == '아우터') 
    			location.href="/mypage/wishlistOuter";
    		else if(category == '상의') 
    			location.href="/mypage/wishlistTop";
    		else if(category == '하의') 
    			location.href="/mypage/wishlistBottom";
    		else if(category == 'ACC')
    			location.href="/mypage/wishlistACC";
    		
    	});
    </script>
</body>
</html>









