<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.clendy.CScenter.model.dao.BoardMapper">
	
	<resultMap type="com.kh.clendy.CScenter.model.vo.Board" id="BoardResultMap">
		<id property="q_no" column="Q_NO"/>
		<result property="q_title" column="Q_TITLE"/>
		<result property="q_answer" column="Q_ANSWER"/>
		<result property="q_enroll_date" column="Q_ENROLL_DATE"/>
		<result property="q_modify_date" column="Q_MODIFY_DATE"/>
		<result property="qc_no" column="QC_NO"/>
		<result property="qc_name" column="QC_NAME"/>
		<result property="user_no" column="USER_NO"/>
	</resultMap>
	
	<!-- board 목록 개수 - 페이징 처리 -->
	<select id="boardGetListCount" resultType="_int">
		SELECT
				COUNT(*) AS COUNT
		   FROM BOARD
		  WHERE B_STATUS = 'Y'
	</select>
	<!-- board 전체 조회 -->
	<select id="selectAllBoard" parameterType="map" resultMap="BoardResultMap">
		 SELECT
            *
            FROM(
            SELECT
       ROWNUM ROWN
     , TBL.*    
    FROM( SELECT
		        B_NO
		      , B_TITLE
		      , B_CONTENT
		      , B_ENROLL_DATE
		      , B_MODIFY_DATE
		      , USER_NO
		   FROM BOARD
		  ORDER BY B_NO DESC) TBL)
          WHERE ROWN BETWEEN #{startRow} AND #{endRow}
	</select>
	
	<!-- board 상세 조회 -->
	<select id="selectOneBoard" parameterType="_int" resultMap="BoardResultMap">
		SELECT
		        B_NO
		      , B_TITLE
		      , B_CONTENT
		      , B_ENROLL_DATE
		      , B_MODIFY_DATE
		      , USER_NO
		   FROM BOARD
		  WHERE B_NO = #{b_no}
	</select>
	
	<!-- board 등록 -->
	<insert id="insertBoard" parameterType="com.kh.clendy.CScenter.model.vo.Board">
		INSERT 
		INTO BOARD
		(
			B_NO
		  , B_TITLE
		  , B_CONTENT
		  , B_ENROLL_DATE
		  , B_MODIFY_DATE
	      , USER_NO
		)
		VALUES (
			SEQ_B_NO.NEXTVAL
		  ,	#{b_title}
		  , #{b_content}
		  , SYSDATE
		  , NULL
		  , #{user_no}
		)
	</insert>
	
	<!-- board 수정 -->
	<update id="updateBoard" parameterType="com.kh.clendy.CScenter.model.vo.Board">
	UPDATE BOARD
	   SET 
	  	  B_TITLE = #{b_title}
		, B_CONTENT = #{b_content}
		, B_MODIFY_DATE = SYSDATE
    WHERE B_NO = #{b_no} 	
	</update>
	
	<!-- board 삭제 -->
	<delete id="deleteBoard" parameterType="_int">
	DELETE 
	  FROM BOARD
	 WHERE B_NO = #{b_no} 
	</delete>

</mapper>