<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.clendy.CScenter.model.dao.FAQMapper">

	<resultMap type="com.kh.clendy.CScenter.model.vo.FAQ" id="FAQResultMap">
		<id property="b_no" column="B_NO"/>
		<result property="b_title" column="B_TITLE"/>
		<result property="b_content" column="B_CONTENT"/>
		<result property="b_enroll_date" column="B_ENROLL_DATE"/>
		<result property="b_modify_date" column="B_MODIFY_DATE"/>
		<result property="user_no" column="USER_NO"/>
	</resultMap>

	<!-- faq 전체 조회 -->
	<select id="selectAllFAQ" resultMap="FAQResultMap">
		SELECT
				Q_NO
			  , Q_TITLE
			  ,	Q_ANSWER
			  , Q_ENROLL_DATE
			  , Q_MODIFY_DATE
			  , F.QC_NO
			  , QC_NAME
			  , USER_NO
		 FROM FAQ F, Q_CATEGORY Q
        WHERE F.QC_NO = Q.QC_NO 
          AND Q_STATUS ='Y'
        ORDER BY Q_NO DESC
	</select>
	
	<!-- faq 카테고리 별 조회 -->
	<select id="selectFAQByCategory" parameterType="_int" resultMap="FAQResultMap">
		SELECT
				Q_NO
			  , Q_TITLE
			  ,	Q_ANSWER
			  , Q_ENROLL_DATE
			  , Q_MODIFY_DATE
			  , f.QC_NO
			  , QC_NAME
			  , USER_NO
		 FROM FAQ F, Q_CATEGORY Q
        WHERE F.QC_NO = Q.QC_NO
          AND Q.QC_NO = #{categoryCode}
          AND Q_STATUS ='Y'
        ORDER BY Q_NO DESC
	</select>
	
	<!-- faq 검색-->
	<select id="searchFAQByKeyword" parameterType="String" resultMap="FAQResultMap">
	SELECT
				Q_NO
			  , Q_TITLE
			  ,	Q_ANSWER
			  , Q_ENROLL_DATE
			  , Q_MODIFY_DATE
			  , F.QC_NO
			  , QC_NAME
			  , USER_NO
		 FROM FAQ F, Q_CATEGORY Q
        WHERE F.QC_NO = Q.QC_NO 
          AND (Q_TITLE LIKE '%' || #{keyword} || '%'
           OR  Q_ANSWER LIKE '%' || #{keyword} || '%')
           AND Q_STATUS ='Y'
        ORDER BY Q_NO DESC
	</select>
	
	<!-- faq 등록 -->
	<insert id="insertFAQ" parameterType="com.kh.clendy.CScenter.model.vo.FAQ">
		INSERT 
		INTO FAQ
		(
			Q_NO
		  , Q_TITLE
		  , Q_ANSWER
		  , Q_ENROLL_DATE
		  , Q_MODIFY_DATE
		  , QC_NO
		  , USER_NO
		  , Q_STATUS
		)
		VALUES (
			SEQ_Q_NO.NEXTVAL
		  ,	#{q_title}
		  , #{q_answer}
		  , SYSDATE
		  , NULL
		  , #{qc_no}
		  , #{user_no}
		  , 'Y'
		)
	</insert>
	
	<!-- faq 수정 -->
	<update id="updateFAQ" parameterType="com.kh.clendy.CScenter.model.vo.FAQ">
	UPDATE FAQ
	   SET 
	  	  Q_TITLE = #{q_title}
		, Q_ANSWER = #{q_answer}
		, Q_MODIFY_DATE = SYSDATE
    WHERE Q_NO = #{q_no} 	
	</update>
	
	<!-- faq 삭제 -->
	<update id="deleteFAQ" parameterType="_int">
	UPDATE FAQ 
	  SET 
	  		Q_STATUS ='N'
	 WHERE Q_NO = #{q_no} 
	</update>
	
</mapper>