<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.clendy.common.model.dao.JoinStoreMapper">
	<!-- 입점신청 insert -->
	<insert id="applyStore" parameterType="com.kh.clendy.common.model.vo.ApplyStore">
	INSERT 
	  INTO APPLY_STORE
	  (
		  	A_NO
	      , SELLER_NAME
		  , REP_NAME
		  ,	REP_NUM
		  , B_LICENSE
		  , O_B_LICENSE
		  , PHONE
		  , EMAIL
		  , ADDRESS
		  , ACCOUNT_BANK
		  , ACCOUNT_NUM
		  , APPLY_DATE
		  , USER_NO
	  )
	  VALUES
	  (
		  	SEQ_A_NO.NEXTVAL
		  , #{seller_name}
		  , #{rep_name}
		  , #{rep_num}
		  , #{b_license}
		  , #{o_b_license}
		  , #{phone}
		  , #{email}
		  , #{address}
		  , #{account_bank}
		  , #{account_num}
		  , SYSDATE
		  , #{user_no}	
	  )
	</insert>
	
	<!-- 입점 신청한 유저 검사 -->
	<select id="checkUserNo" parameterType="_int" resultType="_int">
	SELECT
		   COUNT(*) AS COUNT
	  FROM APPLY_STORE
	 WHERE USER_NO = #{user_no} 	
	</select>
	
	<!-- 스토어 이름 중복 검사 -->
	<select id="checkSellerName" parameterType="String" resultType="_int">
	SELECT
			COUNT(*) AS COUNT
	   FROM APPLY_STORE
	  WHERE SELLER_NAME = #{seller_name}  		
	</select>
	
	<!-- 사업자 등록번호 중복 검사 -->
	<select id="checkBLicense" parameterType="_int" resultType="_int">
	SELECT
			COUNT(*) AS COUNT
	   FROM APPLY_STORE
	  WHERE B_LICENSE = #{b_lincese} 		
	</select>
	
	<!-- 통신판매업신고번호 중복 검사 -->
	<select id="checkOBLicense" parameterType="String" resultType="_int">
	SELECT
			COUNT(*) AS COUNT
	   FROM APPLY_STORE
	  WHERE O_B_LICENSE = #{o_b_lincese} 		
	</select>	
</mapper>

