<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.clendy.mainpage.model.dao.MainpageMapper">
	<resultMap type="com.kh.clendy.mainpage.model.vo.MainProduct" id="MainProductResultMap">
		<id property="pNo" column="P_NO"/>
		<result property="pName" column="P_NAME"/>
		<result property="pPrice" column="P_PRICE"/>
		<result property="pDiscount" column="P_DISCOUNT"/>
		<result property="pStatus" column="P_STATUS"/>
		<result property="imgNo" column="IMG_NO"/>
		<result property="route" column="ROUTE"/>
		<result property="imgName" column="IMG_NAME"/>
		<result property="imgRName" column="IMG_R_NAME"/>
		<result property="imgLevel" column="IMG_LEVEL"/>
		<result property="imgStatus" column="IMG_STATUS"/>
		
	</resultMap>
	

	<select id="selectMainProduct" resultMap="MainProductResultMap">
		select
            p.p_name
            ,p.p_price
            ,p.p_DISCOUNT
            ,p.p_no
            ,i.route
            ,I.IMG_NAME
            ,I.IMG_LEVEL
            ,I.IMG_R_NAME
            from product p
            LEFT OUTER JOIN PRODUCT_IMAGE pi
               ON p.p_no = PI.P_NO
               LEFT OUTER JOIN image i
                  ON pi.img_no  = I.IMG_NO
                  WHERE I.IMG_LEVEL = 0
                  AND ROWNUM <![CDATA[<=]]> 10 
			 
		
	</select>



</mapper>