<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.clendy.admin.model.dao.StoreMapper">

	<resultMap id="ApplyResultMap" type="com.kh.clendy.common.model.vo.ApplyStore">
		<id property="a_no" column="A_NO"/>
		<result property="seller_name" column="SELLER_NAME"/>
		<result property="rep_name" column="REP_NAME"/>
		<result property="rep_num" column="REP_NUM"/>
		<result property="b_license" column="B_LICENSE"/>
		<result property="o_b_license" column="O_B_LICENSE"/>
		<result property="phone" column="PHONE"/>
		<result property="email" column="EMAIL"/>
		<result property="address" column="ADDRESS"/>
		<result property="account_bank" column="ACCOUNT_BANK"/>
		<result property="account_num" column="ACCOUNT_NUM"/>
		<result property="apply_date" column="APPLY_DATE"/>
		<result property="user_no" column="USER_NO"/>
	</resultMap>
	
	<resultMap id="CancelResultMap" type="com.kh.clendy.admin.model.vo.CancelStore">
		<id property="can_no" column="CAN_NO"/>
		<result property="c_date" column="C_DATE"/>
		<result property="complete_date" column="COMPLETE_DATE"/>
		<result property="seller_code" column="SELLER_CODE"/>
		<result property="a_no" column="A_NO"/>
		<result property="seller_name" column="SELLER_NAME"/>
		<result property="rep_name" column="REP_NAME"/>
		<result property="b_license" column="B_LICENSE"/>
		<result property="user_no" column="USER_NO"/>
	</resultMap>
	
	<resultMap id="SellerResultMap" type="com.kh.clendy.admin.model.vo.Seller">
		<id property="seller_code" column="SELLER_CODE"/>
		<result property="a_no" column="A_NO"/>
		<result property="seller_name" column="SELLER_NAME"/>
		<result property="rep_name" column="REP_NAME"/>
		<result property="rep_num" column="REP_NUM"/>
		<result property="b_license" column="B_LICENSE"/>
		<result property="o_b_license" column="O_B_LICENSE"/>
		<result property="phone" column="PHONE"/>
		<result property="email" column="EMAIL"/>
		<result property="address" column="ADDRESS"/>
		<result property="account_bank" column="ACCOUNT_BANK"/>
		<result property="account_num" column="ACCOUNT_NUM"/>
		<result property="apply_date" column="APPLY_DATE"/>
		<result property="user_no" column="USER_NO"/>
		<result property="sales" column="SALES"/>
		<result property="commission" column="COMMISSION"/>
 	</resultMap>
	
	<!-- SELLER 개수 조회 -->
	<select id="sellerGetListCount" resultType="_int">
	SELECT
	       COUNT(*)
	  FROM SELLER    
	 WHERE S_STATUS ='Y' 	
	</select>
	<!-- SELLER 목록 조회 -->
	<select id="selectAllSellerList" resultMap="SellerResultMap">
	SELECT
            *
            FROM(
            SELECT
       ROWNUM ROWN
     , TBL.*    
    FROM( SELECT
	        SELLER.SELLER_CODE
	      , A_NO
	      , SELLER_NAME
	      , REP_NAME
	      , REP_NUM
	      , B_LICENSE
	      , O_B_LICENSE
	      , PHONE
	      , EMAIL
	      , ADDRESS
	      , ACCOUNT_BANK
	      , APPLY_DATE
	      , USER_NO
          , SALES
          , COMMISSION   
      FROM (SELECT
	        S.SELLER_CODE AS SELLER_CODE
	      , A_NO
	      , SELLER_NAME
	      , REP_NAME
	      , REP_NUM
	      , B_LICENSE
	      , O_B_LICENSE
	      , PHONE
	      , EMAIL
	      , ADDRESS
	      , ACCOUNT_BANK
	      , APPLY_DATE
	      , USER_NO
	   FROM SELLER S   
	   JOIN APPLY_STORE A USING(A_NO)
      WHERE S_STATUS ='Y' ) SELLER,
      ( SELECT 
               SELLER_CODE
             , P_PRICE * SUM(ORDER_PRODUCT_NUM) AS SALES
             , P_PRICE * SUM(ORDER_PRODUCT_NUM) * 0.2 AS COMMISSION 
           FROM PRODUCT 
	       JOIN PRODUCT_OPTION USING(P_NO)
	       JOIN ORDER_OPTION USING(P_OPTION_NO)
	       JOIN PRODUCT_ORDER USING(ORDER_CODE)
	      WHERE ORDER_STATUS_CODE = 'STATUS_CODE4' 
          GROUP BY SELLER_CODE, P_PRICE) SALSE
    WHERE SELLER.SELLER_CODE = SALSE.SELLER_CODE(+)           
    ORDER BY SELLER_CODE DESC) TBL)
      WHERE ROWN BETWEEN #{startRow} AND #{endRow}
	</select>
	
	<!-- 판매자 관리에서 입점 취소 -->
	<update id="updateSellerStatus" parameterType="_int">
	UPDATE SELLER
	   SET S_STATUS = 'N'
	 WHERE SELLER_CODE = #{seller_code}  
	</update>
	
	<!-- 입점신청리스트 개수 조회 -->
	<select id="joinStoreGetListCount" resultType="_int">
		SELECT
				COUNT(*)
 	      FROM (SELECT 
                       A_NO
                  FROM APPLY_STORE
                MINUS
                SELECT A_NO
                  FROM SELLER)
	</select>
	
	<!-- 입청 신청 리스트 조회 -->
	<select id="selectAllJoinStoreList" parameterType="HashMap" resultMap="ApplyResultMap">
	SELECT
            *
            FROM(
            SELECT
       ROWNUM ROWN
     , TBL.*    
    FROM( SELECT	
            A_NO
		  , SELLER_NAME
		  , REP_NAME
		  , REP_NUM
		  , B_LICENSE
		  , O_B_LICENSE
		  , PHONE
		  , EMAIL
		  , ADDRESS
		  , ACCOUNT_BANK
		  , ACCOUNT_NUM
		  , APPLY_DATE
		  , USER_NO
       FROM APPLY_STORE 
      WHERE A_NO IN (SELECT 
                            A_NO
                       FROM APPLY_STORE
                     MINUS
                     SELECT A_NO
                       FROM SELLER)
      ORDER BY A_NO) TBL)
          WHERE ROWN BETWEEN #{startRow} AND #{endRow}
	</select>
	
	<!-- 입점 취소 신청 전체 개수 -->
	<select id="cancelStoreGetListCount" resultType="_int">
	SELECT
		   COUNT(*)
	  FROM CANCEL_STORE	
	 WHERE COMPLETE_DATE IS NULL
	</select>
	
	<!-- 입점 취소 신청 리스트 조회 -->
	<select id="selectAllCancelStoreList" parameterType="HashMap" resultMap="CancelResultMap">
	SELECT
            *
            FROM(
            SELECT
       ROWNUM ROWN
     , TBL.*    
    FROM( SELECT
		   CAN_NO
		 , C_DATE
		 , COMPLETE_DATE
		 , SELLER_CODE
		 , A_NO
		 , A.SELLER_NAME
		 , REP_NAME
		 , B_LICENSE
		 , USER_NO
      FROM CANCEL_STORE C
      JOIN SELLER S	USING(SELLER_CODE)
      JOIN APPLY_STORE A USING(A_NO)
     WHERE COMPLETE_DATE IS NULL
     ORDER BY C_DATE) TBL)
          WHERE ROWN BETWEEN #{startRow} AND #{endRow}  
	</select>
	
	<!-- 입점 신청 승인 -->
	<insert id="admitJoinStore" parameterType="_int">
	INSERT INTO SELLER
	(      
		   SELLER_CODE
	     , A_NO
		 , S_STATUS
		 , APPLY_ADMIT_DATE
	 )
	 VALUES
	 (
	 	   SEQ_SELLER_CODE.NEXTVAL
	     , #{a_no}
	     , DEFAULT
	     , SYSDATE	
	 )
	</insert>
	
	<!-- 입점 승인 후 판매자 권한 부여 -->
	<update id="changeUserAuthToSeller" parameterType="_int">
	UPDATE MEMBER_ROLE
	   SET AUTH_CODE = 3
	 WHERE USER_NO = #{user_no}	   
	</update>
	
	<!-- 입점 취소 승인 -->
	<update id="admitCancelStore" parameterType="_int">
	UPDATE SELLER
	   SET S_STATUS = 'N'
	 WHERE A_NO = #{can_no}  
	</update>
	
	<!-- 입점 취소 승인 후 일반회원 권한 부여 -->
	<update id="changeUserAuthToUser" parameterType="_int">
	UPDATE MEMBER_ROLE
	   SET AUTH_CODE = 1
	 WHERE USER_NO = #{user_no}	   
	</update>
	
	<!-- 입점 취소 날짜 UPDAET -->
	<update id="insertAdmitCancelDate" parameterType="_int">
	UPDATE CANCEL_STORE
	   SET COMPLETE_DATE = SYSDATE
	 WHERE CAN_NO = #{can_no}
	</update>
</mapper>















