<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
     xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>입점취소</title>
<link rel="stylesheet" href="/css/admin/CancelStore.css">
<link rel="stylesheet" href="/css/common/paging.css">
	
<!--  알림창 -->
<script>
const msg = '[[${ msg }]]';

if(msg){
	alert(msg);
}
</script>
</head>
<body>
    <div th:replace="common/header.html"></div>

    <div id="wrapper">
        <div id="sidebar">
            <ul>
                <li><a class="sideA " href="/admin/sellerList">판매자관리</a></li>
                <li><a class="sideA current" href="/admin/joinStore">입점승인/취소</a></li>
                <li><a class="sideA " href="/admin/calculation/before">정산</a></li>
                <li><a class="sideA " href="/admin/point">포인트관리</a></li>
            </ul>
        </div>
        <div id="content">
        	<div class="sub_side">
        	<a href="/admin/joinStore">입점신청</a><a class="current" href="/admin/cancelStore">입점취소</a>
        	</div>
            <h3 id="content-title">입점 취소 신청 리스트</h3><h6>cancel Store</h6>
        
            <div class="board-wrapper">
                <div class="list-th">
                    <ul><li class="list-num">번호</li><li class="list-name">이름</li><li class="list-sales">대표자</li><li class="list-commission">사업자등록번호</li><li class="list-date">신청일</li><li class="list-join-or-cancel">취소 승인</li></ul></div>
                <th:block th:if ="${#lists.size(cancelStoreList) == 0}" >
	                <div class="board-list null">
		                	<img class="nowish" src="/images/nowish.png"><br>
	            			<span>입점 취소 신청한 스토어가 없습니다.</span>
	                	</div>
	            </th:block>
                <th:block th:if="${#lists.size(cancelStoreList) > 0}">
	                <div class="board-list" th:each="cancel,i : ${cancelStoreList}">
                	<form th:action="@{/admin/cancelStore}" method="post">
	                	<input type="hidden" name="can_no" id="can_no" th:value=${cancel.can_no}>
	                	<input type="hidden" name="user_no" id="user_no" th:value=${cancel.user_no}>
	                    <ul><li class="list-num" th:text="${(cancelPi.listCount-(10*(cancelPi.page-1))) - (i.count-1) }"></li>
	                    <li class="list-name" th:text="${cancel.seller_name}"></li><li class="list-sales " th:text="${cancel.rep_name}"></li>
	                    <li class="list-commission"  th:text="${cancel.b_license}"></li><li class="list-date" th:text="${#dates.format(cancel.c_date, 'yyyy-MM-dd')}"></li>
	                    <li class="list-join-or-cancel"><input type="submit" class="list-btn" value="승인"></li></ul>    
	                </form>
	                </div>
                </th:block>
            </div>

            <!-- 입점 취소 페이징 -->
            <div class="pagaing_wrap" th:if="${#lists.size(cancelStoreList) > 0}">
                        <ul class="pagaing_left">
                            <li class="allPrev" th:classappend="${cancelPi.page == 1} ? 'hide'">
                            	<a th:href="@{/admin/cancelStore/(page=1)}" th:if="${cancelPi.page > 1}"></a>
	                            <a href="javascript:;" th:unless="${cancelPi.page > 1}"></a>
                            </li>
                            <li class="prev" th:classappend="${cancelPi.page == 1} ? 'hide'">
	                            <a th:href="@{/admin/cancelStore/(page=${cancelPi.page - 1})}" th:if="${cancelPi.page > 1}"></a>
                            	<a href="javascript:;" th:unless="${cancelPi.page > 1}"></a>
                            </li>
                        </ul>
                        
                        <ul class="pagaing_num">
                        	<th:block th:each="pd : ${#numbers.sequence(cancelPi.startPage, cancelPi.endPage)}">
                        		<li th:classappend="${cancelPi.page == pdStat.current} ? 'on'">
                        			<a th:href="@{/CScenter/admin/cancelStore/(page=${pdStat.current})}" th:text="${pdStat.current}"></a>
                        		</li>
                        	</th:block>
                            
                        </ul>

                        <ul class="pagaing_right" >
                            <li class="next" th:classappend="${cancelPi.page == cancelPi.maxPage} ? 'hide'">
                            	<a th:href="@{/CScenter/admin/cancelStore/(page=${cancelPi.page} + 1)}" th:if="${cancelPi.page < cancelPi.maxPage}"></a>
                            	<a href="javascript:;" th:unless="${cancelPi.page < cancelPi.maxPage}"></a>
                            </li>
                            <li class="allNext"  th:classappend="${cancelPi.page == cancelPi.maxPage} ? 'hide'">
                            	<a th:href="@{/CScenter/admin/cancelStore/(page=${cancelPi.maxPage})}" th:if="${cancelPi.page < cancelPi.maxPage}"></a>
                            	<a href="javascript:;" th:unless="${cancelPi.page < cancelPi.maxPage}"></a>
                            </li>
                        </ul>
                    </div>
        </div>

    </div>

    
     <div th:replace="common/footer.html"></div>
    
</body>
</html>