<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
     xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>스토어</title>
    <script src="/js/jquery-3.6.0.min.js"></script> 
	<link rel="stylesheet" href="/css/admin/sellerList.css">
    <link rel="stylesheet" href="/css/common/paging.css">
	<!-- 알림창 -->
	<script>
		const msg = '[[${ msg }]]';
		
		if(msg){
			alert(msg);
		}   
	</script>	
</head>
<body>
    <div th:replace="common/header.html"></div>

    <div id="wrapper">
        <div id="sidebar">
            <ul>
                <li><a class="sideA current" href="/admin/sellerList">판매자관리</a></li>
                <li><a class="sideA " href="/admin/joinStore">입점승인/취소</a></li>
                <li><a class="sideA " href="/admin/calculation/before">정산</a></li>
                <li><a class="sideA " href="/admin/point">포인트관리</a></li>
            </ul>
        </div>
        <div id="content">
            <h3 id="content-title">판매자관리</h3><h6>Stores</h6>
        
            <div class="board-wrapper">
                <div class="list-th">
                    <ul><li class="list-num">번호</li><li class="list-name">이름</li>
                    <li class="list-sales">매출액</li><li class="list-commission">수수료</li>
                    <li class="list-date">등록일</li><li class="list-cancel"> 입점취소</li></ul></div>
                <th:block th:if ="${#lists.size(sellerList) == 0}" >               
	                	<div class="board-list null">
		                	<img class="nowish" src="/images/nowish.png"><br>
	            			<span>등록된 스토어가 없습니다.</span>
	                	</div>
                </th:block>
                <th:block th:if="${#lists.size(sellerList) > 0}" >
                <div class="board-list" th:each="s, i : ${sellerList}">
                	<form th:action="@{/admin/sellerList/cancelStore}" method="post">
                	<input type="hidden" name="seller_code" th:value="${s.seller_code}">
                	<input type="hidden" name="user_no" th:value="${s.user_no}">
                    <ul><li class="list-num" th:text="${(pi.listCount-(10*(pi.page-1))) - (i.count-1) }"></li>
                    <li class="list-name" th:text="${s.seller_name}"></li>
                    <li class="list-sales" th:text="${#numbers.formatInteger(s.sales,0,'COMMA')}"></li>
                    <li class="list-commission" th:text="${#numbers.formatInteger(s.commission,0,'COMMA')}"></li>  
                    <li class="list-date" th:text="${#dates.format(s.apply_date, 'yyyy-MM-dd')}"></li>
                    <li class="list-cancel"><input type="submit" class="cancel" value="취소"></li></ul>    
                    </form>
                </div>
                </th:block>
            </div>

            <!-- 페이징 -->
            <div class="pagaing_wrap" th:if="${#lists.size(sellerList) > 0}">
                        <ul class="pagaing_left">
                            <li class="allPrev" th:classappend="${pi.page == 1} ? 'hide'">
                            	<a th:href="@{/admin/sellerList/(page=1)}" th:if="${pi.page > 1}"></a>
	                            <a href="javascript:;" th:unless="${pi.page > 1}"></a>
                            </li>
                            <li class="prev" th:classappend="${pi.page == 1} ? 'hide'">
	                            <a th:href="@{/admin/sellerList/(page=${pi.page - 1})}" th:if="${pi.page > 1}"></a>
                            	<a href="javascript:;" th:unless="${pi.page > 1}"></a>
                            </li>
                        </ul>
                        
                        <ul class="pagaing_num">
                        	<th:block th:each="pd : ${#numbers.sequence(pi.startPage, pi.endPage)}">
                        		<li th:classappend="${pi.page == pdStat.current} ? 'on'">
                        			<a th:href="@{/admin/sellerList/(page=${pdStat.current})}" th:text="${pdStat.current}"></a>
                        		</li>
                        	</th:block>
                            
                        </ul>

                        <ul class="pagaing_right" >
                            <li class="next" th:classappend="${pi.page == pi.maxPage} ? 'hide'">
                            	<a th:href="@{/admin/sellerList/(page=${pi.page} + 1)}" th:if="${pi.page < pi.maxPage}"></a>
                            	<a href="javascript:;" th:unless="${pi.page < pi.maxPage}"></a>
                            </li>
                            <li class="allNext"  th:classappend="${pi.page == pi.maxPage} ? 'hide'">
                            	<a th:href="@{/admin/sellerList/(page=${pi.maxPage})}" th:if="${pi.page < pi.maxPage}"></a>
                            	<a href="javascript:;" th:unless="${pi.page < pi.maxPage}"></a>
                            </li>
                        </ul>
                    </div>
        </div>

    </div>

    
     <div th:replace="common/footer.html"></div>
    
</body>
</html>