<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/member/findId.css" rel="stylesheet"></link>
    <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
    <title>아이디 찾기</title>
</head>
<body>
	<th:block th:if="${#request.getAttribute('noId') == 'noId'}">
		<script>
			alert('해당 정보와 일치하는 회원이 존재하지 않습니다.');
		</script>
	</th:block>

    <div class="title">
        <img class="logo" src="/images/hanger.png">
        <div>Clendy 아이디 찾기</div>
    </div>

    <div class="content">
        <div class="menu_tab">
            <button type="button" name="id_findtab">
                <a th:href="@{'/member/findId'}">아이디 찾기</a>
            </button>
            <button type="button" name="pwd_findtab">
                <a th:href="@{'/member/findPwd'}">비밀번호 찾기</a>
            </button>
        </div>

        <div class="input_area">
            <form th:action="@{/member/findId}" name="findId" id="findId" method="post">
                <div class="name_area">
                    <span>이름</span><br>
                    <input type="text" name="user_name" id="user_name" placeholder="이름을 입력해주세요" required>
                </div>

                <div class="phone_area">
                    <span>휴대폰 번호</span><br>
                    <input type="tel" name="phone" id="phone" placeholder="휴대폰 번호를 입력해주세요 (-포함)" required>
                </div>

                <button type="submit" name="id_find_btn" id="id_find_btn" onclick="validate()">아이디 찾기</button>
            </form>
        </div>
    </div>
    
    <script>
   	// 전화번호 유효성   	
	function phone_Confirm(phone){
		var regExp = /^01[\d]{1}-\d{3,4}-\d{4}$/; 

    	return regExp.test(phone);
	}
	
	function validate(){	
		if($("#user_name").val() == "") {
			alert("이름을 입력해주세요.");
			$("#user_name").focus();
			return;
		} else if($("#phone").val() == "") {
			alert("휴대폰 번호를 입력해주세요.");
			$("#phone").focus();
			return;	
		}
		
		var phoneCheck = false;
		var phone = $('[name=phone]');
		var phoneValue = phone.val();
		
		if(phone_Confirm(phoneValue)) {
			phoneCheck = true;
			console.log(phone_Confirm(phoneValue));
		} 
		
		if(!phoneCheck) {
			alert('01x-xxx(x)-xxxx 형태로 입력해주세요.');
			phone.focus();
			$("#id_find_btn").attr("disabled", true);
			
			var phone_input = document.getElementById("phone");
			
			phone_input.addEventListener('click', function(){
	        	$("#id_find_btn").removeAttr("disabled");
	        });	
		} 
	}
    </script>
</body>
</html>